.detailSliderCeasn .absentForCeasn {
    display: none;
}

.detailSliderCass .ceasnOnly {
    display: none;
}

.detailSliderEdit .viewMode:not(.editMode) {
    display: none;
}

.detailSliderView .editMode:not(.viewMode) {
    display: none;
}

.detailSliderCompetency .ceasnFramework:not(.ceasnCompetency) {
    display: none;
}

.detailSliderCompetency .frameworkOnly {
    display: none;
}

.detailSliderFramework .ceasnCompetency:not(.ceasnFramework) {
    display: none;
}

.detailSliderFramework .competencyOnly {
    display: none;
}

#detailSlider h2 {
    text-align: left;
}

.sidebarToolbar {
    position: absolute;
    width: inherit;
    background: white;
    z-index: 1;
}

.recordKeys {
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.recordKeys label::before {
    white-space: normal !important;
}

.ceasnDataFields button:not(.addInputButton):not(.removeInputButton),
#alignmentPanel button {
    font-size: normal;
    margin: 0px;
    padding: 0px;
    float: right;
    margin-top: -5px;
}

.ceasnDataFields ul,
#alignmentPanel ul {
    border-top: 1px rgba(0, 0, 0, .5) solid;
    padding-top: .25rem;
    margin-top: .25rem;
    margin-bottom: 0px;
}

#detailSlider p:empty,
#detailSlider h3:empty {
    display: none;
}

#detailSlider p,
#detailSlider h3 {
    border-top: 1px rgba(0, 0, 0, .5) solid;
    margin-top: .25rem;
    padding-top: .25rem;
    margin-bottom: .25rem;
}


.ceasnDataFields ul li,
#alignmentPanel ul li {
    margin-top: 2px;
    margin-bottom: 2px;
}

.ceasnDataFields ul:empty::after,
#alignmentPanel ul:empty::after {
    content: "None"
}

.addInputContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.optionalFields {
    display: none;
}

.alignmentAddButton {
    margin-left: 1rem !important;
}

.alignmentAddButton.nudge {
    margin-left: 0.7rem !important;
}

.alignmentInput.hidden {
    display: none !important;
}

#tree {
    margin: 0px;
    padding-top: 0rem;
    box-sizing:border-box;
    overflow: auto;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
}

#tree ul {
    padding-left: 1rem;
}

.collapse {
    cursor: pointer !important;
}

#detailSlider button {
    margin-right: .1rem;
}

.link {
    margin-right: .2rem;
    margin-top: .2rem;
}

.sidebar {
    position: absolute;
    right: 0;
    float: right;
    padding: 0rem .5rem 0rem 0rem;
    height: calc(100vh - 4rem);
    width: 21rem;
    min-width: 19rem;
}

.sidebarInner {
    position: relative;
    overflow: auto;
    width: inherit;
    height:calc(100vh - 1rem);
}

p.sidebarViewList,
h3.sidebarViewList {
    padding-left: 40px;
}

.sidebarInputRow {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.addInputButton {
    visibility: hidden;
    margin: 0;
    margin-left: 0.5rem;
}

.removeInputButton {
    visibility: hidden;
    margin: 0;
}

.sidebarInputRow:last-child > .addInputButton {
    visibility: visible;
}

.sidebarInputGrouping > .sidebarInputRow:not(:first-child) .removeInputButton {
    visibility: visible;
}

.sidebarPropertyLink {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.sidebarPropertyLink button {
    float: none !important;
    margin-right: 0.5rem !important;
}

.clipboardTextArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}

.changedField {
    background-color: rgba(69, 160, 133, .25);
}

.invalidInput,
.invalidLanguage {
    background-color: red !important;
}

@keyframes animateSavedCompetency {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #19da4db0;
    }
    100% {
        background-color: transparent;
    }
}

.savedCompetency {
    animation-name: animateSavedCompetency;
    animation-duration: 1s;
    animation-direction: normal;
}

.dashBorder {
    border: 1px dashed gray !important;
    border-radius: 4px;
}

#sidebarFeedback {
    display: block;
}

hr {
    display: block;
}

.dot {
    height: 4px;
    width: 4px;
    background-color: gray;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 45%;
    left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid gray;
    display: block;
    position: relative;
    top: 45%;
    left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid gray;
    display: block;
    position: relative;
    top: 45%;
    left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#split-bar {
    background-color: transparent;
    height: 100%;
    float: right;
    width: 8px;
    cursor: col-resize;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-right: 10px;
}


#detailSlider input:not(.private),
#detailSlider textarea,
#detailSlider .ceasnDataFields select {
    width: calc(100% - 3.25rem);
}

#detailSlider .ceasnDataFields select {
    margin-bottom: 1rem;
}

#detailSlider p + input,
#detailSlider p + textarea {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#detailSlider .sidebarInputLanguageSelect {
    width:auto;
}

#detailSlider label:not(.private) {
    cursor: help;
}

.sidebarInner label::before {
    content: "\A";
    white-space: pre;
}

#detailSlider a,
#detailSlider li {
    word-break: break-word;
}

#sidebarFeedback {
    color: red;
}

.competencyCodedNotation {
    margin-right: .25rem;
    border-radius: 5px;
    padding: .25rem;
    background-image: -moz-linear-gradient(top, rgba(128, 128, 128, 0.1) 0%, rgba(128, 128, 128, 0.1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128, 128, 128, 0.1)), color-stop(100%, rgba(128, 128, 128, 0.1)));
    background-image: -webkit-linear-gradient(top, rgba(128, 128, 128, 0.1) 0%, rgba(128, 128, 128, 0.1) 100%);
    background-image: -o-linear-gradient(top, rgba(128, 128, 128, 0.1) 0%, rgba(128, 128, 128, 0.1) 100%);
    background-image: -ms-linear-gradient(top, rgba(128, 128, 128, 0.1) 0%, rgba(128, 128, 128, 0.1) 100%);
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.1) 0%, rgba(128, 128, 128, 0.1) 100%);
}

.competencyListID,.competencyType {
    margin-right: .25rem;
    font-weight: bold;
}

.competencyAKA {
    display: inline-block;
    background-color: rgba(84, 84, 84, 0.25);
    border-radius: 4px;
    border: 1px solid #CAD9DB;
    font-size: .9rem;
    margin-right: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.competencyName {
    margin-right: 0.25rem;
}

#frameworkNameContainer #frameworkDescription > span {
    padding-left: 2.5rem;
    padding-right: 1rem;
    font-size: smaller;
    display: block;
}

#frameworkNameContainer #frameworkCount,
#frameworkLastModified,
#frameworkCreated,
#frameworkAKA > span {
    display: inline-block;
    background-color: rgba(84, 84, 84, 0.25);
    border-radius: 4px;
    border: 1px solid #CAD9DB;
    font-size: .9rem;
    margin-top: .25rem;
    padding: .25rem;
    margin-left: .5rem;
}

#frameworkNameContainer #frameworkName {
    padding-left: .25rem;
}

.forceShow {
    display: block !important;
}

.highlightedCompetency > span > .competencyName {
    background-color: yellow;
}

.singular {
    margin-left: 2.25rem;
}

#detailSlider textarea {
    resize: vertical;
}

.required::after {
    content: "*";
    color: red;
}

#sidebarExport {
    margin-top: 5px;
}

.languageTag {
    background-color: rgba(84, 84, 84, 0.25);
    border-radius: 4px;
    border: 1px solid #CAD9DB;
    font-size: .85rem;
    margin-right: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    float: right;
    font-weight: bold;
    line-height: 1rem;
}

#selectConceptSection, #selectCompetencySection {
    position: fixed;
    z-index: 2;
}

#selectConceptSection iframe, #selectCompetencySection iframe {
    background: white;
}

.transparent {
    display: none;
}

.private {
    display: none;
    float: right;
}

