#editFrameworkSection select {
    margin: 0.25em;
}

#ceasnDataFields button {
    margin-bottom: 1rem;
}

#ceasnDataFields ul:empty {
    display: none !important;
}

#tree {
    margin: 0px;
    padding-top: 0rem;
    max-height: calc(100% - 3.0rem);
    overflow: auto;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
}

#tree ul {
    padding-left: 1rem;
}

#detailSlider button {
    margin-right: .1rem;
}

.link {
    margin-right: .2rem;
    margin-top: .2rem;
}

.sidebar {
    position: fixed;
    right: 0;
    float: right;

    padding: 0rem .5rem 0rem 0rem;
    height: calc(100vh - 1rem);
    width: 21rem;
    overflow: auto;
}

.dashBorder {
    border: 1px dashed gray !important;
}

#split-bar {
    background-color: black;
    height: 100%;
    float: right;
    width: 6px;
    cursor: col-resize;
}


#detailSlider input,
#detailSlider textarea,
#detailSlider #ceasnDataFields button,
#detailSlider #ceasnDataFields select {
    margin-top: 0rem;
    width: calc(100% - 1rem);
}

#detailSlider #ceasnDataFields select {
    display: block;
}

#detailSlider p {
    display: block;
    margin-bottom: .33em;
}

#detailSlider label {
    cursor: help;
}

#detailSlider label::before {
    content: "\A";
    white-space: pre;
}
