button,
a.button {
    padding: .25rem .5rem .25rem .5rem;
    border: 1px solid rgba(0, 0, 0, 0.33);
    background-color: transparent;
    font-weight: bold;
}

button:hover,
button:focus,
a.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

mark {
    background-color: rgba(255, 255, 0, 0.25);
}

input,
textarea,
select {
    padding: .25rem .5rem;
    border-radius: 4px;
    border: 1px solid #CAD9DB;
}

#frameworksSection {
    position: absolute;
    top: 0rem;
    bottom: 0;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    /*    padding-bottom: 3rem;*/
    /*    border-top: 1px solid #000;*/
    /*    border-bottom: 1px solid #000;*/
}

#header {
    position: absolute;
    top: 0;
    z-index: 10;
    margin: 0rem 0rem;
    padding: .25rem .5rem .25rem .5rem;
    width: 100%;
    height: 3.0rem;
    /*    background-color: #414142;*/
    background-color: rgba(84, 84, 84, 0.25);
    text-align: center;
    font-size: 2rem;

    -webkit-font-smoothing: antialiased;
}

#header input,
#header input:focus {
    padding: .5rem;
    width: calc(100% - 50px - 12rem);
    height: 1.6rem;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    color: black;
    font-weight: 200;
    font-size: 1.5rem;
}

#header input:hover,
#header input:focus {
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

#header ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5);
}

#header ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5);
}

#header :-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.5);
}

#header :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5);
}

#header button {
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.3);
}

#header button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#resetSearchButton {
    position: relative;
    right: 3rem;
    border: none;
    font-size: 2rem;
    top: 0.3rem;
    padding-bottom: 0.5rem;
}

#createNewButton {
    margin: .25rem;
    margin-right: 1rem;
}

#frameworksHelpButton {
    margin: .25rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

#frameworks {
    overflow-y: auto;
    margin-top: 3.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: calc(100% - 5.6rem);
    border-bottom: 1px solid #000;
}

#frameworks > hr {
    display: none;
    opacity: .5;
}

#frameworks > p {
    margin: 0;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    /*    border-radius: .25em;*/
    text-align: left;
    cursor: pointer;
}

#frameworks .properties {
    display: inline-block;
    background-color: rgba(84, 84, 84, 0.25);
    border-radius: 4px;
    border: 1px solid #CAD9DB;
    font-size: .9rem;

    margin-top: .25rem;
    padding: .25rem;
}

#frameworks p:hover a,
#frameworks p:hover span {
    /*    color: rgb(181, 81, 48);*/
    /*    color: #1B5456;*/
    color: #000;

}

#frameworks > p:hover,
#frameworks > p.selected {
    border: 1px solid #dedede;
    background-color: #FCFCFC;
}

#frameworks p a {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    color: dimgrey;
    font-size: 1.2rem;
}

#frameworks p span {
    /*    min-height: 3rem;*/
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    /*    margin-left: 1rem;*/
    font-size: 1rem;
    line-height: 1.5rem;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#frameworks p a:hover {
    /*    text-decoration: underline;*/
}

#editFrameworkSection {
    /*    max-width: 900px;*/
    margin: 0;
}

#frameworkName {
    cursor: pointer;
}

#addFrameworkSection {
    max-width: 900px;
    margin: 0 auto;
}

.sidebar {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    /*    border-left: 1px solid  !important;*/
}

/* CE Overrides */

input[type=button],
input[type=submit],
input[type=reset],
button,
.linkButton {
    border-radius: 4px;
    /*    border: 1px solid transparent;*/
    /*    padding: 2px 5px;*/
    opacity: 0.9;
    -webkit-appearance: none;
    white-space: normal;
    display: inline-block;
    text-decoration: none;
    color: #3D4443;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover,
.linkButton:hover {
    opacity: 1;
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
    cursor: pointer !important;
}

.greenButton,
input.greenButton {
    border-color: transparent !important;
    background-color: #45A085;
    color: #FFFFFF;
}

button.greenButton:hover,
.button.greenButton:focus {
    background-color: #A3CEC5;
}

.redButton,
input.redButton {
    border-color: transparent !important;
    background-color: #B55130;
    color: #FFFFFF;
}
