
@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/Oswald/oswald-bold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldextralight';
    src: url('../fonts/Oswald/oswald-extralight.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/Oswald/oswald-light.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldmedium';
    src: url('../fonts/Oswald/oswald-medium.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/Oswald/oswald-regular.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldsemibold';
    src: url('../fonts/Oswald/oswald-semibold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'assistantbold';
    src: url('../fonts/Assistant/assistant-bold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assistantextrabold';
    src: url('../fonts/Assistant/assistant-extrabold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantextralight';
    src: url('../fonts/Assistant/assistant-extralight.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'assistantlight';
    src: url('../fonts/Assistant/assistant-light.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantregular';
    src: url('../fonts/Assistant/assistant-regular.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantsemibold';
    src: url('../fonts/Assistant/assistant-semibold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --main-body-font: 'assistantregular';
  --main-header-font: 'oswaldregular';
}
html,
body {
    /* Dynamically resize for large screens */
    font-size: calc(12px + .25vw);
    /* Scale background to fit the screen */
    min-height: 100%;
    min-width: 100%;
    font-family: var(--main-body-font);
}



/* ---- UTILITY ---- */
h3, h4, h5 {
  font-family: var(--main-header-font);
}


tspan{
    pointer-events: none;
}

.reveal.smaller {
    width: 40%;
    max-width: 62.5rem;
}

.reveal {
    overflow-y: visible;
}

.sticky {
    z-index: 500;
}

.ui-autocomplete {
    z-index: 600;
}

ul.no-bullets {
    margin-left: .5rem;
}

ul.no-bullets li {
  list-style: none;
  font-size: 1rem;
  margin-top: 2px;

}

input:checked~.switch-paddle {
    background: #333;
}

.boldText {
    font-weight: bold;
}

.leftOffset25 {
    margin-left: 25px !important;
}

.topOffset2Rem {
    margin-top: 2rem;
}

#cassUiMainBusyContainer,
#cassUiMainErrorContainer {
    margin-top:5rem;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiBusyImg {
    height: 4rem;
    width: auto;
}

#cassUiMainBusyText {
    font-size: 2rem;
    color: #137499;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiModalErrorText,
.cassUiModalBusyText {
    font-size: .9rem;
}

.cassUiModalErrorText ul {
    margin:0;
}

.cassUiCallout {
    margin-top: 3rem;
}

.cassUiModalInput {
    /*width: 37rem;*/
    /*margin-left: 1.5rem;*/
}

.cassUiModalTextArea {
    height: 8rem;
    resize: none;
}

.cassUiModalInput.invalid {
    background-color: #F3CB7A;
    border-color: #EA6E07;
}

/* ---- MENUS ---- */

#section-sub-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#page-tools {
    float: right;
}


/* ---- CIRCLE GRAPH SCREEN ---- */

#gap-circle-graph-wrapper {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100%;
    max-height: 300px;
}

#gap-circle-graph-wrapper svg {
    position: absolute;
    width: 95%;
    height: 90%;
}

#gap-circle-graph-wrapper .node.node--root {
    fill: transparent !important;
}

#gapCirclePack {
    fill: transparent !important;
    background: white;
}

.gapCircleGraph .node.invalid{
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-dasharray: 4;
}

.gapCircleGraph .node {
    cursor: pointer;
    filter:url(#drop-shadow);
}

.gapCircleGraph .node:hover {
    filter: none;
}

#drop-shadow:hover {
    opacity:1 !important;
}

.gapCircleGraph .node--leaf {
}

.gapCircleGraph .label {
    fill: #fff;
    font-size: 13px;
    font-weight: 600;
    text-anchor: middle;
    paint-order: stroke;
    stroke: rgb(0, 0, 0);
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.gapCircleGraph .label-background {
    fill: #fff;
    font-size: .6rem;
    text-anchor: middle;
    paint-order: stroke;
    stroke: rgb(19, 116, 153);
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.gapCircleGraph .label,
.gapCircleGraph .node--root,
.gapCircleGraph .node--leaf {
    pointer-events: all;
}

.gapCircleGraph circle {
    pointer-events: all;
}

.gapCircleGraph .gapped {
}



.gapCircleGraph .fwkCircle {
    fill:#c7c7c7 !important;
}

/* ---- MISC ---- */

.gapReportTypeHdr {
    margin-top: .5rem;
}

#gapReportListCtr {
    margin-bottom:1.2rem;
    max-height: 20rem;
    overflow-y: auto;
}

.addGrpMemberBtn {
    color: #286D31;
}

.removeGrpMemberBtn {
    color: #B34925;
}

#grpEditGroupSelListCtr,
#grpEditMemberListCtr,
#grpEditAvailableMemberListCtr {
    margin-bottom:1.2rem;
    max-height: 15rem;
    overflow-y: auto;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 2px;
}

#grpEditMemberListCtr.invalid {
    background-color: #F3CB7A;
    border-color: #EA6E07;
}

#grpEditGroupSelList li,
#grpEditMemberList li,
#grpEditAvailableMemberList li {
    padding: 0 .5rem;
}

#grpEditMemberListCtr,
#grpEditAvailableMemberListCtr{
    width: 92%;
}

.gapReportOutputSpecial {
    font-style: italic;
    color:#999;
}

.gapReportAreaGapLineItem,
.gapReportAreaGapLineItem a {
    color:rgb(197, 96, 40);
    padding-left:4px;
}

#grpEditGroupSelList li:hover,
#grpEditMemberList li:hover,
#grpEditAvailableMemberList li:hover,
.gapReportAreaGapLineItem:hover {
    background: #ccc;
}

#gapReportCovSummary {
    color:#999;
}

#circleFocusSummaryHeader {
  cursor: pointer;
  font-size: 1.8rem;
}

.modal-large-multi-select {
    min-height: 15rem;
}

#gapHeader {
  color: #333;
  font-family: var(--main-header-font);
}

#gapWelcomeContainer {
    margin-top: 5%;
}

.gapSummaryCompCov {
    font-size:.85rem;
}

.circleFocusOverviewGroup {
    /*font-weight: bold;*/
}

.groupMemberIndToggle {
    font-size: .6rem !important;
    padding: 2px 3px;
    background-color: #999 !important;
    color: #ffffff !important;
    margin-bottom: .4rem;
}

.gapSummaryCompCov,
.circleFocusOverviewField,
#circleFocusSummarySelProfList li {
    color: #818181;
}

.circleFocusDetailAssertion {
    font-size:.85rem;
    color: #818181;
}

.circleFocusSummarySubSection {
    margin-left:.5rem;
}
.circleFocusSummarySubSection div {
  margin-top: 4px;
}

#circleFocusDetailsSingleDesc {
    font-size: .95rem;
}

.circleFocusSummarySection h5 {
    margin-bottom: 0;
}

.circleFocusSummarySection {
    margin-top: .5rem;
}

#circleFocusDetailsSidebar,
#circleFocusSummarySidebar {
    margin-top: 1rem;
}

#circleFocusSummarySidebar {
    padding-left: 1.5rem;
}

#circleFocusCompDetailsLink i {
    margin-top: .8rem;
}

#circleFocusDetailsProfListContainer ul {
    list-style: none;
    margin-bottom: 0;
}

#circleFocusSummaryDesc {
    margin-bottom: .5rem;
}

#circleFocusCompTools {
    font-size: 1.2rem;
    text-align: right;
}

.gpsiRootComp {
  font-size: 1.05rem;
  font-weight: 600;
}

.gpsiNonRootComp {}

.gpsiChild {
  margin-left: .8rem;
  font-size: 1rem;
  font-weight: 500;
}
.gpsiChild:first-child {
  margin-left: 0rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.fa-chevron-right,
.fa-chevron-down,
.fa-circle {
  font-size: .8rem;
  color: #137499;
}

.psiItem.active {
    font-weight: bold;
    text-decoration: underline;
}