<html>

<head>
    <title>CaSS 1.4.4 Learning Center</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="CbVLRC">
    <meta name="application-name" content="CbVLRC">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="js/vendor/lz-string.js"></script>
    <script src="js/vendor/intersection-observer.js"></script>
    <script src="js/cass/cass.js"></script>
    <script src="js/vendor/vue.js"></script>
    <script src="js/vendor/vue-observe-visibility.min.js"></script>
    <script src="js/vendor/vue-recomputed.js"></script>
    <script src="js/vendor/moment.js"></script>
    <script src="js/vendor/jdenticon.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controls/assertion.js"></script>
    <script src="js/controls/assertionHistory.js"></script>
    <script src="js/controls/chooseAction.js"></script>
    <script src="js/controls/competency.js"></script>
    <script src="js/controls/framework.js"></script>
    <script src="js/controls/frameworks.js"></script>
    <script src="js/controls/frameworkSelect.js"></script>
    <script src="js/controls/goals.js"></script>
    <script src="js/controls/history.js"></script>
    <script src="js/controls/jobPostings.js"></script>
    <script src="js/controls/jobPostingCreate.js"></script>
    <script src="js/controls/jobPostingDetail.js"></script>
    <script src="js/controls/jobPostingSelect.js"></script>
    <script src="js/controls/people.js"></script>
    <script src="js/controls/profile.js"></script>
    <script src="js/controls/profiles.js"></script>
    <script src="js/controls/resources.js"></script>
    <script src="js/controls/resourceSelect.js"></script>
    <script src="js/controls/timeline.js"></script>
    <script src="js/controls/timelineElement.js"></script>
    <script src="js/controls/viewHistory.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/pieces.css">
    <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="app" v-if="login" style="display:none;">
    <div id="container">
        <p></p><br>
        <div class="processing" v-show="processing">
            <center>
                <h1>{{processingMessage}}</h1>
            </center>
        </div>
        <div id="pages" v-show="processing == false">
            <div id="sidebar">
                <div>
                    <i id="rad0" onclick="showPage('0');" class="rad mdi mdi-timeline-text mdi-24px"></i>
                    <label onclick="showPage('0');" for="rad0" class="rad">Timeline</label>
                </div>
                <div>
                    <i id="rad1" onclick="showPage('1');" class="rad mdi mdi-book-open-page-variant mdi-24px"></i>
                    <label onclick="showPage('1');" for="rad1" class="rad">Subject Area</label>
                </div>
                <div style="margin-left:.5rem;">
                    <i v-if="selectedFramework" id="rad2" onclick="showPage('2');"
                       class="rad mdi mdi-book-open mdi-24px"></i>
                    <label v-if="selectedFramework" onclick="showPage('2');" for="rad2" class="rad">Topic Area</label>
                </div>
                <div style="margin-left:1rem;">
                    <i v-if="selectedCompetency" id="rad3" onclick="showPage('3');"
                       class="rad mdi mdi-file mdi-24px"></i>
                    <label v-if="selectedCompetency" onclick="showPage('3');" for="rad3" class="rad">Learning
                        Resource</label>
                </div>
                <div>
                    <i id="rad4" onclick="showPage('4');" class="rad mdi mdi-bullseye mdi-24px"></i>
                    <label onclick="showPage('4');" for="rad4" class="rad">My Goals</label>
                </div>
                <div>
                    <i id="rad5" onclick="showPage('5');" class="rad mdi mdi-account-group mdi-24px"></i>
                    <label onclick="showPage('5');" for="rad5" class="rad">My Contacts</label>
                </div>
                <div>
                    <i id="rad6" onclick="showPage('6');" class="rad mdi mdi-account-search mdi-24px"></i>
                    <label onclick="showPage('6');" for="rad6" class="rad">Contact Search</label>
                </div>
                <div>
                    <i id="rad7" onclick="showPage('7');" class="rad mdi mdi-briefcase mdi-24px"></i>
                    <label onclick="showPage('7');" for="rad7" class="rad">Jobs, Gigs, and Positions</label>
                </div>
            </div>
            <div id="div99" class="page">

            </div>
            <div id="div0" class="page" style="display:none;">
                <profile :pk="me"></profile>
                <timeline/>
            </div>
            <div id="div1" class="page" style="display:none;">
                <profile :pk="subject"></profile>
                <frameworks/>
            </div>
            <div id="div2" class="page" style="display:none;">
                <profile :pk="subject"></profile>
                <framework id="leftFramework" v-if="selectedFramework" :uri="selectedFramework.id"
                           :subjectperson="subjectPerson" :subject="subject"></framework>
                <div v-else>No subject has been selected.</div>
            </div>
            <div id="div3" class="page" style="display:none;">
                <div v-if="selectedCompetency">
                    <profile :pk="me"></profile>
                    <div>
                        <h4>The following resources exist for:</h4>
                        <competency :uri="selectedCompetency.id" :subject="me"/>
                    </div>

                    <hr>
                    <resources :url="selectedCompetency.id"></resources>
                    <hr>
                    <!--<div>You have the following history:</div>
                        <history></history>
                        <hr>-->
                    <button v-on:click="searchGoogle">Search for additional resources on Google.</button>
                    <hr>
                    <h3>Add a resource</h3>
                    <label for="inputUrl">URL: </label><input type="text" id="inputUrl" v-model="inputUrl"
                                                              placeholder="Url"/><br>
                    <label for="inputName">Name: </label><input type="text" id="inputName" v-model="inputName"
                                                                placeholder="Name of Resource"/><br>
                    <label for="inputDescription">Description: </label><textarea id="inputDescription"
                                                                                 v-model="inputDescription"
                                                                                 placeholder="Description of Resource"></textarea><br>
                    <button style="float:right;" v-on:click="addResource">Add Resource</button>
                </div>
                <div v-else>No topic has been selected.</div>
            </div>
            <div id="div4" class="page" style="display:none;">
                <profile :pk="me"></profile>
                <goals :pk="me" :person="mePerson"></goals>
            </div>
            <div id="div5" class="page" style="display:none;">
                <h1>Selected:</h1>
                <profile :pk="subject"></profile>
                <hr>
                <h1>Contacts:</h1>
                <profiles :profiles="profiles" :identities="identities"></profiles>
            </div>
            <div id="div6" class="page" style="display:none;">
                <people></people>
            </div>
            <div id="div7" class="page" style="display:none;">
                <profile :pk="subject"></profile>
                <jobPostings></jobPostings>
            </div>
            <div id="div8" class="page" style="display:none;">
                <profile :pk="subject"></profile>
                <jobPostingDetail :uri="selectedJobPosting" :subject="subject"></jobPostingDetail>
                <hr>
                <h3>Select a contact to compare them against the posting.</h3>
                <profiles :profiles="profiles" :identities="identities"></profiles>
            </div>
        </div>
    </div>
</div>
<script src="js/vue.js"></script>
</body>

</html>
