@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/Oswald/oswald-bold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 
@font-face {
    font-family: 'oswaldextralight';
    src: url('../fonts/Oswald/oswald-extralight.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/Oswald/oswald-light.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldmedium';
    src: url('../fonts/Oswald/oswald-medium.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/Oswald/oswald-regular.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldsemibold';
    src: url('../fonts/Oswald/oswald-semibold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'assistantbold';
    src: url('../fonts/Assistant/assistant-bold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantextrabold';
    src: url('../fonts/Assistant/assistant-extrabold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'assistantextralight';
    src: url('../fonts/Assistant/assistant-extralight.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantlight';
    src: url('../fonts/Assistant/assistant-light.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantregular';
    src: url('../fonts/Assistant/assistant-regular.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'assistantsemibold';
    src: url('../fonts/Assistant/assistant-semibold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    /* Dynamically resize for large screens */
    font-size: calc(12px + .25vw);
    /* Scale background to fit the screen */
    min-height: 100%;
    min-width: 100%;
    --main-header-font: 'oswaldregular';
    --main-body-font: 'assistantregular';
    font-family: var(--main-body-font);
}

/* ---- UTILITY ---- */

h1, h2, h3, h4, h5 {
    font-family: var(--main-header-font) !important;
    color: #0a0a0a;
}

tspan{
    pointer-events: none;
}

.reveal.smaller {
    width: 40%;
    max-width: 62.5rem;
}

.reveal {
    overflow-y: visible;
}

.sticky {
    z-index: 500;
}

.ui-autocomplete {
    z-index: 600;
}

ul.no-bullets {
    margin-left: 0;
}

ul.no-bullets li {
    list-style: none;
}

input:checked~.switch-paddle {
    background: #333;
}

.boldText {
    font-weight: bold;
}

.leftOffset25 {
    margin-left: 25px !important;
}

.topOffset2Rem {
    margin-top: 2rem;
}

#cassUiMainBusyContainer,
#cassUiMainErrorContainer {
    margin-top:5rem;
    font-family: 'oswaldregular';
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiBusyImg {
    height: 4rem;
    width: auto;
}

#cassUiMainBusyText {
    font-size: 2rem;
    font-family: 'oswaldregular';
    color: #137499;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiModalErrorText,
.cassUiModalBusyText {
    font-size: .9rem;
}

.cassUiModalErrorText ul {
    margin:0;
}

.cassUiCallout {
    margin-top: 3rem;
}

.cassUiModalInput {
    width: 100%;
    margin: 1em auto;
}

.cassUiModalTextArea {
    height: 8rem;
    resize: none;
}

.cassUiModalInput.invalid {
    background-color: #F3CB7A;
    border-color: #EA6E07;
}

/* ---- MENUS ---- */

#section-sub-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#page-tools {
    float: right;
}

/* ---- BURGENDY Theme ---- */

.burgendy {
    color: #b36a79;
}
.burgendy-back {
    background-color: #b36a79;
}

body.theme-burgendy #section-sub-menu #frameworkContentsSearchContainer #frameworkExpHeader .button {
    background-color: #662a36;
}
body.theme-burgendy #section-sub-menu #frameworkContentsSearchContainer .button:hover {
    background-color: #662a36;
}

body.theme-burgendy .gpsi {
    color: #662a36;
}

body.theme-burgendy .dropdown.menu .is-active>a,
body.theme-burgendy a {
    color: #662a36;
}

body.theme-burgendy .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: #000 transparent transparent;
}

body.theme-burgendy a:hover {
    color: #662a36;
}

body.theme-burgendy .expCircleGraph .node--leaf {
    fill: rgba(241,105,135,1);
}

/*body.theme-burgendy .expCircleGraph .label {*/
    /*stroke: rgb(102, 42, 54);*/
    /*stroke-width: 1px;*/
    /*stroke-linecap: butt;*/
    /*stroke-linejoin: round;*/
    /*!*    text-shadow: 0 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, 2px 0 0 #000, -2px 0 0 #000, 0 -2px 0 #000;*!*/
/*}*/

body.theme-burgendy #circleFocusDetailsRelList li,
body.theme-burgendy #circleFocusDetailsRelList a {
    color: #662a36;
}


body.theme-burgendy #fwkShareContactsListContainer {
    background-color: #d9bcc1;
}

/* ---- LIST VIEW SCREEN ---- */

#filter-options {
    position: fixed;
    left: 2em;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#filter-options li .fa {
    visibility: hidden;
}

#filter-options li.active .fa,
#filter-options li:hover .fa {
    visibility: visible;
}

#filter-options .active {
    font-weight: bold;
}

#filter-options .active a {
    cursor: default;
}

#list-screen__root > li > h3,
#list-screen__root > li > h4 {
    font-weight: bold;
}

#list-screen__root li li li h4 {
    font-size: 1.25rem;
}

#list-screen__root li > h3,
#list-screen__root li > h4 {
    margin: .5em 0 0 0;
}

#list-screen__root li.expanded > h3,
#list-screen__root li.collapsed > h3,
#list-screen__root li.expanded > h4,
#list-screen__root li.collapsed > h4 {
    cursor: pointer;
}

#list-screen__root li.expanded > h3:hover,
#list-screen__root li.collapsed > h3:hover,
#list-screen__root li.expanded > h4:hover,
#list-screen__root li.collapsed > h4:hover {
    color: #137499;
}

#list-screen__root p {
    margin: 0;
}

#list-screen__root .competency-type {
    float: right;
    color: #7c7c7c;
    text-transform: uppercase;
    font-size: .9em;
}

#list-screen__root .competency-type .fa {
    font-size: 1.3em;
    /*    color: #000;*/
}

/* ---- CIRCLE GRAPH SCREEN ---- */

#exp-circle-graph-wrapper {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100%;
    max-height: 300px;
}

#exp-circle-graph-wrapper svg {
    position: absolute;
    width: 95%;
    height: 90%;
}

#exp-circle-graph-wrapper .node.node--root {
    fill: transparent !important;
}

#explorerCirclePack {
    fill: transparent !important;
    background: white;
}

.expCircleGraph .node.invalid{
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-dasharray: 4;
}

.expCircleGraph .node {
    cursor: pointer;
    filter: url(#drop-shadow);
}

.expCircleGraph .node:hover {
    filter: none;
}

#drop-shadow:hover {
    opacity:1 !important;
}

.expCircleGraph .node--leaf {
}

.expCircleGraph .label {
    fill: #fff;
    font-size: 13px;
    font-weight: 600;
    text-anchor: middle;
    paint-order: stroke;
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.expCircleGraph .label-background {
    fill: #fff;
    font-size: 13px;
    text-anchor: middle;
    paint-order: stroke;
    stroke: rgb(19, 116, 153);
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.expCircleGraph .label,
.expCircleGraph .node--root,
.expCircleGraph .node--leaf {
    pointer-events: all;
}

.expCircleGraph circle {
    pointer-events: all;
}

/* ---- MISC ---- */

#frameworkExpHeader,
#circleFocusSummaryName {
    cursor: pointer;
    font-family: 'oswaldregular';
}

#frameworkExplorerName {
    font-family: 'oswaldregular';
}
#circleFocusDetailsSingleDesc {
    font-size: .95rem;
}

#circleFocusDetailsSidebar,
#circleFocusSummarySidebar {
    margin-top: 1rem;
}

#circleFocusSummarySidebar {
    padding-left: 1.5rem;
}

#circleFocusSummarySidebar h3,
#circleFocusSummarySidebar h2 {
    cursor: pointer;
    font-family: 'oswaldregular';
}

#circleFocusCompDetailsLink i {
    margin-top: .8rem;
}

#circleFocusSummaryListContainer {
    margin-top: 1em;
    max-height: 75%;
    overflow-y: auto;
}

#circleFocusRelatedFwListContainer {
    margin-left: .5em;
}

#circleFocusSummaryDesc {
    margin-bottom: .5rem;
}

#circleFocusCompTools {
    font-size: 1.2rem;
    text-align: right;
}
.gpsiRootComp {
    font-size: 1.05rem;
}

.gpsiNonRootComp {}

.gpsiChild {
    margin-left: 1.2rem;
    font-size: 1rem;
}

.psiItem.active {
    font-weight: bold;
    text-decoration: underline;
}

#fwkShareContactsListHdrContainer {
    margin: auto;
    margin-bottom: .1rem;
    padding: 0;
    width: 80%;
}

#fwkShareContactsListHdrContainer ul {
    margin: 0px;
}

#fwkShareContactsList {
    margin: .5rem 0;
}

#fwkShareContactsListContainer {
    max-height: 300px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 1.5rem;
    width: 80%;
    border-color: #d9d9d9;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}