// colors
$accentColor = #4F99A8
$textColor = #47585C
$borderColor = tint($textColor, 70%);
$codeBgColor = #282c34
$arrowBgColor = #68C8DB
$badgeTipColor = #68C8DB
$badgeWarningColor = darken(#EDAC5F, 35%)
$badgeErrorColor = #D74C44
