@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/Oswald/oswald-bold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 
@font-face {
    font-family: 'oswaldextralight';
    src: url('../fonts/Oswald/oswald-extralight.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/Oswald/oswald-light.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldmedium';
    src: url('../fonts/Oswald/oswald-medium.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/Oswald/oswald-regular.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldsemibold';
    src: url('../fonts/Oswald/oswald-semibold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'assistantbold';
    src: url('../fonts/Assistant/assistant-bold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantextrabold';
    src: url('../fonts/Assistant/assistant-extrabold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'assistantextralight';
    src: url('../fonts/Assistant/assistant-extralight.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantlight';
    src: url('../fonts/Assistant/assistant-light.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantregular';
    src: url('../fonts/Assistant/assistant-regular.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'assistantsemibold';
    src: url('../fonts/Assistant/assistant-semibold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    /* Dynamically resize for large screens */
    font-size: calc(12px + .25vw);
    /* Scale background to fit the screen */
    min-height: 100%;
    min-width: 100%;
    --main-body-font: 'assistantregular';
    --main-header-font: 'oswaldregular';
    font-family: var(--main-body-font);
}

/* ---- UTILITY ---- */
h1, h2, h3, h4 {
    font-family: var(--main-header-font) !important;
}
tspan{
    pointer-events: none;
}

.reveal.smaller {
    width: 40%;
    max-width: 62.5rem;
}

.reveal {
    overflow-y: visible;
}

.sticky {
    z-index: 500;
}

.ui-autocomplete {
    z-index: 600;
}

ul.no-bullets {
    margin-left: 0;
}

ul.no-bullets li {
    list-style: none;
}

input:checked~.switch-paddle {
    background: #662a36;
}

.is-submenu-item hr {
    margin: 0px;
}

.boldText {
    font-weight: bold;
}

.leftOffset25 {
    margin-left: 25px !important;
}

.topOffset2Rem {
    margin-top: 2rem;
}

.itemCounter {
    color: #6A6A6A;
    font-size: .9rem;
}

#cassUiMainBusyContainer,
#cassUiMainErrorContainer {
    margin-top:5rem;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiBusyImg {
    height: 4rem;
    width: auto;
}

#cassUiMainBusyText {
    font-size: 2rem;
    color: #137499;
    font-family: var(--main-header-font);
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiModalErrorText,
.cassUiModalBusyText {
    font-size: .9rem;
}

.cassUiModalErrorText ul {
    margin:0;
}

.cassUiCallout {
    margin-top: 3rem;
}

.cassUiModalInput {
    width: 37rem;
    margin-left: 1.5rem;
}

.cassUiModalTextArea {
    height: 8rem;
    resize: none;
}

.cassUiModalInput.invalid {
    background-color: #F3CB7A;
    border-color: #EA6E07;
}

/* ---- MENUS ---- */

#section-sub-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#page-tools {
    float: right;
}


/* ---- BURGENDY Theme ---- */

.burgendy {
    color: #b36a79;
}
.burgendy-back {
    background-color: #b36a79;
}

body.theme-burgendy #section-sub-menu #frameworkContentsSearchContainer #frameworkExpHeader .button {
    background-color: #707070;
}
body.theme-burgendy #section-sub-menu #frameworkContentsSearchContainer .button:hover {
    background-color: #662a36;
}

body.theme-burgendy  h3, h2 {
    color: #0a0a0a;
}
body.theme-burgendy .gpsi {
    color: #000;
}

body.theme-burgendy .dropdown.menu .is-active>a,
body.theme-burgendy a {
    color: #000;
}

body.theme-burgendy .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: #000 transparent transparent;
}

body.theme-burgendy a:hover {
    color: #662a36;
}

body.theme-burgendy .expCircleGraph .node--leaf {
    fill: rgba(241,105,135,1);
}

/*body.theme-burgendy .expCircleGraph .label {*/
/*stroke: rgb(102, 42, 54);*/
/*stroke-width: 1px;*/
/*stroke-linecap: butt;*/
/*stroke-linejoin: round;*/
/*!*    text-shadow: 0 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, 2px 0 0 #000, -2px 0 0 #000, 0 -2px 0 #000;*!*/
/*}*/

body.theme-burgendy #circleFocusDetailsRelList li:hover {
    color: rgb(151, 83, 95);
}

body.theme-burgendy #circleFocusDetailsRelList a:hover {
    color: rgb(151, 83, 95) !important;
}

body.theme-burgendy #fwkShareContactsListContainer {
    background-color: #d9bcc1;
}

/* ---- ALIGNMENT LIST VIEW ---- */

.alignment-fit-height {
    height: calc(95vh - 210px);
    overflow: hidden;
    position: relative;

    /*    border: 1px dashed green;*/
}

.alignment-column-scroll {
    padding-top: 3px;
    height: 85%;
    overflow-y: auto;
}

.alignment-column-header {
    margin: .5rem 0;
    width: 100%;
    top: 0;
}

#alignment-left-column li a:hover,
#alignment-right-column li a:hover {
    cursor: pointer;
}


#alignment-left-column li .aligned,
#alignment-right-column li .aligned {
    background-color: #eee;
    color: #666;
}

/* ---- ALIGNMENT CARDS ---- */

.align-competency-title.selected {
    background-color: #fff3d9;
    color: black !important;
    text-decoration: underline;
    font-weight: bold;
}

.align-competency-title.selected + .fwkAlmItemFilter {
    background-color: #137499;
}

.alignment-match-deleteCard.button,
.alignment-match-flipDirection.button {
    margin-right: .3rem;
}

.alignment-match-busy {
    text-align: center;
    margin-top: 1rem;
}

.alignment-match-busy img {
    height: 4rem;
}

.alignment-match-busy .busyFinished {
    color: #88CB6D;
    font-size: 3rem;
}

#alignment-center-column .callout {
    cursor: pointer;
}

#alignment-center-column .callout.selected {
    background-color: #fff3d9;
    cursor: default;
}

#alignment-NewMatchCard {}

select.alignment-match-relationship {}

.alignment-match-center {
    text-align: center;
    font-weight: bold;
    position: relative;
    /*    overflow: hidden;*/
}

.empty-match {
    border: 2px dashed #666;
    padding: .5em;
    border-radius: .5em;
    text-align: center;
    opacity: .5;
}

.alignment-match-options {
    margin-top: 1rem;
}

.alignment-match-content {
}

.alignment-match-left p:last-child,
.alignment-match-right p:last-child {
    margin-bottom: 0;
}

.alignment-match-left {
    text-align: right;
    border-right: 1px solid #eee;
}

.alignment-match-right {
    text-align: left;
    border-left: 1px solid #eee;
}

#alignment-left-column li .fa-chevron-down,
#alignment-left-column li .fa-chevron-right,
#alignment-right-column li .fa-chevron-right,
#alignment-right-column li .fa-chevron-right {
    color: #666;
}

#alignment-left-column li .fa-chevron-down:hover,
#alignment-left-column li .fa-chevron-right:hover,
#alignment-right-column li .fa-chevron-right:hover,
#alignment-right-column li .fa-chevron-right:hover {
    cursor: pointer;
    color: black;
}

#alignment-left-column li .fa-circle,
#alignment-right-column li .fa-circle {
    color: #ddd;
}

/* Circle pop-out menu */

.relationship-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    height: 50px;
    width: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    transition: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: perspective(1px) translateY(-50%) translateX(-50%);
}

.relationship-menu-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
}

.callout.selected .relationship-menu-button {
    color: white;
    background-color: #137499;
    cursor: pointer;
}

.callout .relationship-menu-button,
.callout .relationship-choice {
    /*    background-image: url(../img/icon-relationship-equals.svg);*/
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

/* White and black icons for circle menu */

.callout .relationship-menu-button.icon-isEquivalentTo,
.callout .relationship-choice.icon-isEquivalentTo,
.callout .relationship-menu-button.icon-isEquivalentTo.flipped,
.callout .relationship-choice.icon-isEquivalentTo.flipped {
    background-image: url(../img/icon-relationship-equals.svg);
}

.callout.selected .relationship-menu-button.icon-isEquivalentTo,
.callout.selected .relationship-choice.icon-isEquivalentTo,
.callout.selected .relationship-menu-button.icon-isEquivalentTo.flipped,
.callout.selected .relationship-choice.icon-isEquivalentTo.flipped {
    background-image: url(../img/icon-relationship-equals-white.svg);
}

.callout .relationship-menu-button.icon-isRelatedTo,
.callout .relationship-choice.icon-isRelatedTo,
.callout .relationship-menu-button.icon-isRelatedTo.flipped,
.callout .relationship-choice.icon-isRelatedTo.flipped {
    background-image: url(../img/icon-relationship-related.svg);
}

.callout.selected .relationship-menu-button.icon-isRelatedTo,
.callout.selected .relationship-choice.icon-isRelatedTo,
.callout.selected .relationship-menu-button.icon-isRelatedTo.flipped,
.callout.selected .relationship-choice.icon-isRelatedTo.flipped {
    background-image: url(../img/icon-relationship-related-white.svg);
}

/* Directional relationship icons */

.callout .relationship-menu-button.icon-narrows {
    background-image: url(../img/icon-relationship-narrows.svg);
}

.callout .relationship-menu-button.icon-narrows.flipped {
    background-image: url(../img/icon-relationship-broadens.svg);
}

.callout .relationship-choice.icon-narrows {
    background-image: url(../img/icon-relationship-narrows.svg);
}

.callout .relationship-choice.icon-narrows.flipped {
    background-image: url(../img/icon-relationship-broadens.svg);
}

.callout.selected .relationship-menu-button.icon-narrows {
    background-image: url(../img/icon-relationship-narrows-white.svg);
}

.callout.selected .relationship-menu-button.icon-narrows.flipped {
    background-image: url(../img/icon-relationship-broadens-white.svg);
}

.callout.selected .relationship-choice.icon-narrows {
    background-image: url(../img/icon-relationship-narrows-white.svg);
}

.callout.selected .relationship-choice.icon-narrows.flipped {
    background-image: url(../img/icon-relationship-broadens-white.svg);
}

.callout .relationship-menu-button.icon-desires {
    background-image: url(../img/icon-relationship-desires-right.svg);
}

.callout .relationship-menu-button.icon-desires.flipped {
    background-image: url(../img/icon-relationship-desires-left.svg);
}

.callout .relationship-choice.icon-desires {
    background-image: url(../img/icon-relationship-desires.svg);
}

.callout.selected .relationship-menu-button.icon-desires {
    background-image: url(../img/icon-relationship-desires-right-white.svg);
}

.callout.selected .relationship-menu-button.icon-desires.flipped {
    background-image: url(../img/icon-relationship-desires-left-white.svg);
}

.callout.selected .relationship-choice.icon-desires {
    background-image: url(../img/icon-relationship-desires-right-white.svg);
}

.callout.selected .relationship-choice.icon-desires.flipped {
    background-image: url(../img/icon-relationship-desires-left-white.svg);
}

.callout .relationship-menu-button.icon-requires {
    background-image: url(../img/icon-relationship-requires-right.svg);
}

.callout .relationship-menu-button.icon-requires.flipped {
    background-image: url(../img/icon-relationship-requires-left.svg);
}

.callout .relationship-choice.icon-requires {
    background-image: url(../img/icon-relationship-requires.svg);
}

.callout.selected .relationship-menu-button.icon-requires {
    background-image: url(../img/icon-relationship-requires-right-white.svg);
}

.callout.selected .relationship-menu-button.icon-requires.flipped {
    background-image: url(../img/icon-relationship-requires-left-white.svg);
}

.callout.selected .relationship-choice.icon-requires {
    background-image: url(../img/icon-relationship-requires-right-white.svg);
}

.callout.selected .relationship-choice.icon-requires.flipped {
    background-image: url(../img/icon-relationship-requires-left-white.svg);
}

.relationship-menu.active .relationship-menu-button {
    background-color: transparent;
}

.relationship-menu-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #137499;
    border-radius: 100%;
    opacity: 0;
    display: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    /*        mix-blend-mode: overlay;*/
}

.relationship-menu.active .relationship-menu-background {
    top: -60px;
    left: -60px;
    width: 170px;
    height: 170px;
    opacity: .3;
    display: block;
}

.relationship-menu.active .relationship-menu-background:hover {}

.relationship-choice {
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #137499;
    text-align: center;
    line-height: 50px;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

    -webkit-transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.relationship-choice:hover {
    background-color: #106382;
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.relationship-menu-label {
    display: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    top: -35px;
    left: -35px;
    right: -35px;
    bottom: -35px;
    padding: 0 1.5em;
    margin: 0;
    color: black;
    fill: black;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2em;
    vertical-align: middle;
    background-color: white;
    border-radius: 100em;
}

.relationship-menu.active .relationship-menu-label {
    display: flex;
}

.relationship-menu-label .fa {
    color: #aaa;
}

.relationship-menu.active .relationship-choice {
    display: inherit;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    transform: inherit;
}

/* ---- EDITOR FILTERS ---- */

.fwkAlmItemFilter {
    display: inline-block;
    margin-left: 0.5rem;
    padding: 0;
    background-color: #aaa;
    width: 1.5rem;
    height: 1.1rem;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 100rem;
    color: white;
    font-size: .7em;
    text-align: center;
}

.fwkAlmItemFilter:hover {
    background-color: #ce6c18;
}

.fwkAlmItemFilter[data-alm-count="1"] {
    background-size: 1.2em;
    width: 1.1rem;
    background-repeat: no-repeat;
    background-position: center;
}

.fwkAlmItemFilter[data-alm-count="1"][data-alm-type="isEquivalentTo"] {
    background-image: url(../img/icon-relationship-equals-white.svg);
}

.fwkAlmItemFilter[data-alm-count="1"][data-alm-type="isRelatedTo"] {
    background-image: url(../img/icon-relationship-related-white.svg);
}

.fwkAlmItemFilter[data-alm-count="1"][data-alm-type="narrows"] {
    background-image: url(../img/icon-relationship-narrows-white.svg);
}

.fwkAlmItemFilter[data-alm-count="1"] .alignment-filter {
    display: none;
}

.alignment-filter {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


/* ---- CIRCLE GRAPH SCREEN ---- */

#drop-shadow:hover {
    opacity:1 !important;
}

.node--leaf.alm-div-fw1 {
    fill: rgba(179, 106, 121,1);
}

.node--leaf.alm-div-fw2 {
    fill: rgba(7, 140, 130, 1);
}

.almCircleGraphDivided .label {
    fill: #fff;
    font-size: 8px !important;
    font-weight: 600 !important;
    text-anchor: middle;
    paint-order: stroke;
    stroke: rgb(0, 0, 0);
    stroke-width: .5px;
    stroke-linecap: butt;
    stroke-linejoin: round;
}
.almCircleGraphMerged .label {
    fill: #fff;
    font-size: 8px;
    font-weight: 600 !important;
    text-anchor: middle;
    stroke-width: .5px;
    stroke: rgb(0, 0, 0);
    paint-order: stroke;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.almCircleGraphMerged .unaLabel  {
    fill: #fff;
    font-size: 8px;
    font-weight: 600;
    stroke-width: .5px;
    stroke: rgb(0, 0, 0);
    text-anchor: middle;
    paint-order: stroke;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.almCircleGraphDivided .label,
.almCircleGraphDivided .node--root,
.almCircleGraphDivided .node--leaf,
.almCircleGraphMerged .label,
.almCircleGraphMerged .node--root,
.almCircleGraphMerged .node--leaf {
    pointer-events: all;
}

.almCircleGraphDivided circle,
.almCircleGraphMerged circle {
    pointer-events: all;
}

.almCircleGraphMerged .node-dummy {
    fill: rgba(0, 0, 0, 0);
}

.almCircleGraphMerged .node-fw1-eq,
.almCircleGraphMerged .node-fw2-eq,
.almCircleGraphMerged .node-fw1-eq.child,
.almCircleGraphMerged .node-fw2-eq.child {
    fill: rgba(244, 160, 130, 1);
    cursor: pointer;
    /*filter: url(#drop-shadow);*/
}

.almCircleGraphMerged .node-fw1-brd,
.almCircleGraphMerged .node-fw1-des,
.almCircleGraphMerged .node-fw1-req,
.almCircleGraphMerged .node-fw1-una,
.almCircleGraphMerged .node-fw2-brd.child,
.almCircleGraphMerged .node-fw2-des.child,
.almCircleGraphMerged .node-fw2-req.child {
    /*filter: url(#drop-shadow);*/
    fill: rgba(179,106,121,1);
    cursor: pointer;
}

.almCircleGraphMerged .node-fw2-brd,
.almCircleGraphMerged .node-fw2-des,
.almCircleGraphMerged .node-fw2-req,
.almCircleGraphMerged .node-fw2-una,
.almCircleGraphMerged .node-fw1-brd.child,
.almCircleGraphMerged .node-fw1-des.child,
.almCircleGraphMerged .node-fw1-req.child {
    /*filter: url(#drop-shadow);*/
    fill: rgba(235,173,135,1);
    cursor: pointer;
}

.almCircleGraphMerged .node-fw1-rel,
.almCircleGraphMerged .node-fw2-rel,
.almCircleGraphMerged .node-fw1-rel.child,
.almCircleGraphMerged .node-fw2-rel.child {
    /*filter: url(#drop-shadow);*/
    cursor: pointer;
    /*fill: rgba(182, 139, 232, .75);*/
}

#alm-circle-graph-divided-wrapper,
#alm-circle-graph-merged-wrapper {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100%;
    max-height: 300px;
}

#alm-circle-graph-divided-wrapper svg,
#alm-circle-graph-merged-wrapper svg {
    position: absolute;
    width: 95%;
    height: 90%;
}

#alm-circle-graph-divided-wrapper .node.node--root,
#alm-circle-graph-merged-wrapper .node.node--root {
    fill: transparent !important;
}

#alignmentMergedCirclePack {
    fill: transparent !important;
}

/* ---- GRAPH LEGEND ---- */

.legEqRel {
    color: #0E5C9A;
}

.legRelRel {
    color: #2ED87B;
}

.legDesRel {
    color: #C08DEE;
}

.legNarRel {
    color: #EECB1D;
}

.legReqRel {
    color: #EE1D43;
}

/* ---- ALIGNMENT ARROWS ---- */

.eqRelPath,
.relRelPath,
.desRelPath,
.narRelPath,
.reqRelPath {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    opacity: .25;
    transition: opacity .33s;
}

.eqRelArrowHead,
.relRelArrowHead,
.desRelArrowHead,
.narRelArrowHead,
.reqRelArrowHead {
    opacity: 1;
    transition: opacity .33s;
}

.eqRelPath {
    stroke: #0e5c9a;
}

.eqRelArrowHead {
    fill: #0e5c9a;
}

.relRelPath {
    stroke: #008920;
}

.relRelArrowHead {
    fill: #008920;
}

.desRelPath {
    stroke: #873ccb;
}

.desRelArrowHead {
    fill: #873ccb;
}

.narRelPath {
    stroke: #ff6c00;
}

.narRelArrowHead {
    fill: #ff6c00;
}

.reqRelPath {
    stroke: #EE1D43;
}

.reqRelArrowHead {
    fill: #EE1D43;
}

.dvdAlmCgRelPath.active {
    opacity: 1;
    stroke-width: 4;
}

.dvdAlmCgRelPath.inactive {
    opacity: .1;
}

.relArrowHeadFaded {}

/* ---- MISC ---- */

#mrgFwkLegendLink {
    font-size:1.5rem;
}

#mergFwkAlmSettingsCtr {
    font-size:.9rem;
    color:#0a0a0a;
    text-align:left;
}

#mergFwkAlmShowUnaCtr .switch {
    margin-bottom:1rem;
}

#almVisCgDividedSidebarAlmListContainer,
#almVisCgMergedSidebarAlmListContainer {
    max-height: 75%;
    overflow-y: auto;
}

#frameworkHeaderAlignmentName1,
#frameworkHeaderAlignmentName2 {
    cursor:pointer;
    font-family: var(--main-header-font) !important;
}

#fwkAlmAutoAlmResultsList {
    margin: .5rem 0;
}

.almToolIcon {
    height: 2rem;
}

.almListHdrSource {
    font-size: 1.1rem;
}

.almListHdrTarget {
    font-size: 1.1rem;
    color: #8a8a8a;
}

.almListHdrCtr {
    margin-bottom: .5rem;
    /*background:#ddd;*/
    /*padding:.3rem .5rem;    */
    /*border-radius: 3px;*/
    /*border: #8a8a8a 1px solid;*/
}

.almListHdrCtr > i {
    color: #8a8a8a;
}

#almVisCgDividedCompDetailsSidebar,
#almVisCgDividedSidebar,
#almVisCgMergedSidebar {
    padding-top: 2rem;
}

#almVisCgDividedSidebar,
#almVisCgMergedSidebar {
    padding-left: 1.5rem;
}

#almVisCgDividedSidebarFw1ToFw2AlmList > li,
#almVisCgDividedSidebarFw2ToFw1AlmList > li,
#almVisCgMergedSidebarFw1ToFw2AlmList > li,
#almVisCgMergedSidebarFw2ToFw1AlmList > li {
    margin-bottom: .6rem;
}
#almVisCgMergedSidebarFw1ToFw2AlmList  {
    margin-left: 12px !important
}

.almCgSbComp,
.almCgSbRel {
    font-weight: bold;
    font-size: .9rem;
}

.almCgSbFw1 {
    color: #662a36;
}

.almCgSbFw2 {
    color: #c76028;
}

#frameworkAlignmentFwList1 a:not(.selected) {
    color: #662a36 !important;
}

#frameworkAlignmentFwList2 a:not(.selected) {
    color: #c76028 !important;
}

.almAdhLi.inactive,
.almAdhLi.inactive .almCgSbFw1,
.almAdhLi.inactive .almCgSbFw2 {
    color: #d8d8d8;
}

.fwkAlmAutoAlmFwText {
    font-weight: bold;
    font-size: .9rem;
}

.fwkAlmAutoAlmRelText {
    font-style: italic;
    font-size: .9rem;
}

.fwkAlmAutoAlmFwText.fw2Name {
    padding-right: .5rem;
}

li .fwkAlmAutoAlmRelImg {
    height: 1.7rem;
    background: #fff;
    border-radius: 20px;
}

li:not(:first-child) .fwkAlmAutoAlmRelImg {
    margin-top: .2rem;
}

li:not(:last-child) .fwkAlmAutoAlmRelImg {
    margin-bottom: .2rem
}

#fwkAlmAutoAlmResultsList {
    margin: .5rem 0;
}

#fwkAlmAutoAlmResultsList input {
    margin: .5rem;
}

#fwkAlmAutoAlmResultsList li:hover {
    background-color: #DCF3FE;
}

#fwkAlmAutoAlmResultsList li:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}

#fwkAlmAutoAlmResultsListBtnsContainer,
#fwkAlmAutoAlmResultsListHdrContainer {
    margin: auto;
    margin-bottom: .1rem;
    padding: 0;
    width: 80%;
}

#fwkAlmAutoAlmResultsListHdrContainer ul {
    margin: 0px;
}

#fwkAlmAutoAlmResultsListContainer {
    max-height: 300px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 1.5rem;
    width: 80%;
    background-color: #cceeff;
    border-color: #d9d9d9;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}


.compRelAlignmentHdr {
    font-size: .95rem;
    font-weight: 600;
    color: #000000;
}

.compRelAlignmentText {
    font-size: .9rem;
    font-weight: 500;
    color: #0b445b;
}

.removeAlignmentComp {
    color: #BA0903;
}


#modal-legend-merged-cg img {
    max-height: 48px;
}