@import './theme.scss';
@import './assets/fonts/webfonts/all.css';

html {
    font-family: $family-primary;
    max-width: 100vw !important;
    margin: 0px;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}
body{
    height: 100%;
    background: $light;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
#app {
    height: 100%;
}

#hierarchy-page {
    .column.icon {
        height: 100%;
        
    }
}

p {
    font-style: normal;
}
.is-scrollable{
    overflow-y: scroll;
    height: calc(100vh - 3.25em);

}


.e-HierarchyNode {
    transform: translateX(0);
    .icon{
        padding: 0rem;
        margin: 0rem;
        height: 100%;
        font-size: .8rem;
    }
    .column .left {
        background-color: $cass-primary-up;
        border-radius: 0px 0px 0px 0px !important;
    }
    .column .right{
        border-radius: 0px 5px 5px 0px !important;
    }
    
}


.e-HierarchyNode-ul
{
    li:before{
         content: '';
         height: 3rem;
         width: 2rem;
         border-bottom: 2px solid black;
         top: 0rem;
         bottom: 0;
     }
    >li{
        //border-left: 2px solid black;
        //margin:0px;
        margin-left:2rem;
    }
     >li:last-child{
         border-left: 0px;
     }
     >li:last-child:before{
         position: relative;
         border-left: 2px solid black;
         border-bottom: 2px solid black;
         width: calc(3rem - 16px);
         bottom: 0;
     }
}

.page-framework.e-Thing-ul {
    margin-top: .5rem;
}
.e-Thing-ul{
    background-color:$light;
    border-radius: .25rem;
    margin-top:.5rem;
    padding: .25rem;
  
    .edit{
    }
    .save{
    }
}

.e-Thing-ul::first {
        background-color: transparent;
}
.e-Property {
    .fa {
        font-size: $size-7;
        color: $dark;
    }
    label {
        font-size: $size-7;
        font-weight: 500;
    }
    .e-name {
        font-size: $size-4;
        font-weight: 600;
    }
}
.e-Property-text{
    border-radius: .25rem;
}
.e-Property-ul{
    border-radius: .25rem;
    padding: .25rem;
    .e-description {
        font-weight: 400;
        font-size: $size-6;
    }
    .e-name {
        font-weight: 600;
        font-size: $size-4;
    }
    
    margin: .125em .5em;
}

input{
}
.page {
    margin-top: 2rem;
}
.page-open,
.page-framework {
    overflow-y: scroll;
    height: 95vh;
}

progress,
select {
    margin-right: .25rem;
    width: 10rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    height:2px;
    background-color: $black !important;
}

iframe {
    min-height: 800px;
    border: 1px solid black;
}

.List input{
}

.info-tag {
    border-radius: 1rem;
    background-color: $info;
    font-size: .7rem;
    font-weight: 400;
    padding: .25rem;
    margin-bottom:.1rem;
}

.type-tag {
    border-radius: 1rem;
    background-color: $link;
    font-size: .7rem;
    font-weight: 400;
    padding: .25rem;
    margin-bottom:.1rem; 
}

.thing-tag {
    border-radius: 1rem;
    background-color: $light;
    font-size: 1rem;
    font-weight: 400;
    padding: .25rem;
}

.navigation-tag {
    border: 1px solid $info;
    border-radius: 1rem;
    background-color: none;
    font-size: .7rem;
    font-weight: 400;
    padding: .25rem;
    min-width: 1.75rem;
    text-align:center;
    .tag-copy {
        margin-right: .25rem;
        font-weight: 500;
    }
    .icon .fas {
        color: $info;
    }
}

.is-disabled .navigation-tag {
    border: 1px solid $black;
    .tag-copy {
        color: $black;
    }
    .icon .fas {
        color: $black;
    }
}
.to-do {
    .icon .fas {
        color: $black !important;
    }
    color: $black !important;
    background-color: $info;
}

.navigation-title__wrapper {
    display:inline-block;
    width: 70%;
    vertical-align: middle;
}
.navigation-tag__wrapper {
    display: inline-block;
    width: 30%;
    vertical-align: middle;

}


.success-tag {
    border: 1px solid $success;
    border-radius: 1.25rem;
    background-color: none;
    font-size: 1rem;
    font-weight: 400;
    color: $success;
    padding: .5rem .75rem;
    .icon {
        color: $success;
        font-size: 1rem;
    }

}


.e-Thing-always-ul .e-name{
    label {
        display: none;
    }
}

.page-framework {
    .e-Thing-always-ul:first-of-type {
        background-color: transparent;
        .e-Property-text {
            label {
                font-size: $size-3;
                font-weight: 600 !important;
            }
        }
    }
}


/***** framework ********/
.page-framework{
    .e-Thing-ul{
        margin-top:0px;
    }
    .e-Thing-always-ul .e-name{
        label{
            display:none;
        }
    }

    .e-Thing-always-ul .e-description{
        label{
            display:none;
        }
        font-size:.8rem;
    }

    .e-Framework{
        ul{
            margin-left:0px;
        }
        a {
            display:none;
        }
        >.expand {
        }
        >.compact {
        }
        >.editable {
        }
        >.delete-thing{
        }
        .e-Property-text{
            font-size:larger;
        }
    }

    .e-Competency{
        a {
        }
        >.expand{
        }
        >.compact{
        }
        >.editable {
        }
        >.delete-thing {
        }
        >.remove {
        }
        >.export {
        }
        .active {
            color: $link;
        }
    }
    .e-HierarchyNode{
        >ul{
            padding-left:1rem;
            >div{
                border:1px dashed whitesmoke;
            }
        }
        >.icon{
            width:0px;
            height:0px;
            margin:0px;
            line-height:0px;
            display:block;
            position:relative;
            left:-.5rem;
            top:-2rem;
        }
        .highlighted{
            background-color:yellow;
        }
        padding-left:1rem;
    }
    .dragging{
        div{
            border:1px dashed gray !important;
            .drag-footer::before{
                content:'' !important
            }
            .drag-footer{
            }
        }
    }
}



.e-Thing-always-ul .e-description{
    label{
        display:none;
    }
    font-size:.8rem;
}

.e-Competency{
        transform: translateX(0);
        cursor: pointer;
        .clickable-hierarchy {
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 32;
            left: 0;
        }
        .e-Thing-always-ul {
            width: 100%;
        }
        .thing-actions {
            position: fixed;
            visibility: hidden;
            width: 100%;
            padding: 6px;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(grey, 1);
            .action {
                display: block;
                width: 100%;
            }
        }
    a {
        display:none;
    }
    >.expand{
    }
    >.compact{
    }
    .icon {
        padding: .5rem;
    }
}

.e-Think.e-Competency {
        .confirm-delete-dialog {
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        right: 0;
        left: 0;
        z-index: 100;
        background-color: $dark;
    }
}
/* On Hover show Toolset on Competency card in Editor view */
.e-Thing.e-Competency.showHoverItems {
    background-color: rgba($dark, .1);
    padding-bottom: 44px !important;
    .e-Thing-ul {
        background-color: rgba($dark, .1);
    }
    .thing-actions {
         visibility: visible !important;
         background: rgba($white, .2);
         height: 44px;
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
         
         .action {
             width: 33%;
         }
    }
}


.e-HierarchyNode {
    ul {
        margin-top: .25rem;
        padding-left:.375rem;
    }
}

.far.fa-circle {
    font-size: .5rem;
}


/******* Actions on framework list fiew (page open)  ********/
.e-Thing.e-Framework {
    transform: translateX(0);
    cursor: pointer;
    .e-Thing-always-ul {
        width: 80%;
    }
    .thing-actions {
        position: fixed;
        width: 20%;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(grey, .3);
        .action {
            display: none;
        }
        .info {

        }
        .view {
            display: none;
        }
    }
}

/* Framework details at the top of framework page  */
 .page-framework {
     .e-Thing.e-Framework {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        .e-Thing-always-ul {
            width: 100%;
            height: 100%;
            position: relative;
        }
        .thing-actions {
            display: flex;
            position: relative;
            flex-direction: row;
            width: 100%;
            height: 48px;
            background-color: white;
             .action, .info, .view {
                display: block;
                width: 30%;
            }
        }
    }
}



.page-open .e-name, .page-open .e-title{
    label{
        display:none;
    }
    ul{
        margin-left:0px;
        display:inline;
        li{
            display:inline;
            margin-right:.5rem;
        }
    }
}

.page-open .e-description{
    label{
        display:none;
    }
    font-size:.8rem;
}

.page-open .e-Framework, .page-open .e-ConceptScheme{
    a {
        display:none;
    }
    .icon {
        display:none;
    }
    .editable {
        display:inline;
    }
    .not-editable {
        display:inline;
    }
}