@import './variables.scss';
// required to adjust to side bar open
.crosswalk.clear-side-bar {
    .hierarchy-buttons {
        width: calc(45vw - 150px);
    }
}
.crosswalk {
    height: calc(100vh - 52px);
    overflow: hidden;
    .fa-tilde:before {
        font-family: Arial; /* your font family here! */
        font-weight: bold;
        font-size: 1.1rem;
        content: '~';
    }
    hr {
        display: none;
    }
    .hierarchy-buttons {
        padding-top: 1rem !important;
        position: fixed;
        background-color: white;
        height: 42px !important;
        padding-top: 0rem !important;
        z-index: 5;
        width: 45vw;
        top: 22vh;
        border-bottom: solid 1px black;
    }

    .step-icon__wrapper {
        padding: .25rem;
    }
    .step-icon.icon {
        border-radius: 100% !important;
    }
    .crosswalk__steps {
        height: 18vh;
    }
    .crosswalk__list {
        overflow: scroll;
        height: calc(95vh - 52px);
    };
    .crosswalk__double-hierarchy {
        height: 80vh;
        .lode__hierarchy-item {
                margin: .25rem 0rem !important;
            }

        .columns {
            height: 100%;
            margin: .25rem;
        };
        overflow: hidden;
        .crosswalk__single-hierachy {
            padding: 2rem;
            overflow: scroll;
            height: 100%;
        }
    }
    .crosswalk__double-hierarchy {
    // room for improvement, iterate over loop for max depth tabbing
    // possibly set tab value based on value in scss varaibles sheet
        .lode__hierarchy {
            
            ul.lode__hierarchy-ul {
                li.lode__hierarchy-li {
                    .add-new-node {
                        padding-left: 5rem;
                    }
                    .lode__hierarchy-item {
                        min-height: 102px;
                        padding: .25rem !important;
                        transform: translateX(0); 
                        .crosswalk-buttons__source {
                            background-color:rgba(white, .8);
                            position: fixed;
                            right: 0;
                            margin: 4px;
                            .columns {
                                .column {
                                    padding: 2px !important;
                                }
                            };
                            .crosswalk-buttons__source__create {
                                visibility: hidden;
                            }
                            .crosswalk-buttons__source__select {
                                visibility: visible;
                            }
                            .crosswalk-buttons__source__type {
                                visibility: visible;
                            }
                        } 
                        .crosswalk-buttons__target {
                            background-color:rgba(white, .8);
                            position: fixed;
                            right: 0;
                        }
                        .crosswalk-buttons__target,
                        .crosswalk-buttons__source {
                            .crosswalk-buttons__source__create {
                                visibility: visible;
                            }
                            .crosswalk-buttons__source__select {
                                visibility: visible;
                            }
                            .crosswalk-buttons__source__type {
                                visibility: visible;
                            }
                        }                    
                        .add-node-section {
                            width: 100%;
                            display:block;
                            max-width: 1300px;
                            padding-left: 3rem;
                            height: auto;
                            cursor: pointer;
                        }
                        .add-node-section:hover .add-new-node__line, 
                        .add-node-section:hover .button {
                            opacity: 1;
                            .add-node__options {
                                padding: 0rem 0rem;
                            }
                        }
                        .add-new-node__line {
                            transition: opacity .2s;
                            transition-delay: .2s;
                            margin: 0rem;
                            opacity: 0;
                            padding-left: 4rem;
                            height: 6px;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            .button {
                            }
                            hr  {
                                z-index: 2;
                                width: 100%;
                                display: inline-block;
                                height: 1px;
                                padding-left: -1px;
                                margin-left: auto;
                                margin-right: auto;
                                border-width: 1px;
                                background-color: rgba($primary, .5) !important;
                                color: $black !important;
                                border-color: $primary !important;
                            }
                        }
                        .lode__thing {
                            padding-left: 0rem;
                            .lode__Competency {
                                .lode__thing-heading {
                                    max-width: 1300px;
                                    margin: auto;
                                }
                            }
                        }
                        .lode__thing-editing {
                            max-width: 1300px;
                            margin: auto;
                            background-color: $light;
                        }
                        .lode__name {
                            .field {
                                padding-left: 0rem;
                                .field-body {
                                    .field {
                                        padding-left: 0rem;
                                        font-size: 1rem !important; // top level competencies
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                        .lode__description {
                            .field {
                                padding-left: 0rem;
                                .field-body {
                                    .field {
                                        padding-left: 0rem;
                                        font-size: 1rem !important; // top level competencies
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                    .is-selected-competency-source.lode__hierarchy-item {
                        background-color: $light;
                        .crosswalk-buttons {
                            visibility: visible;
                        }
                    }
                    .lode__hierarchy-item:hover {
                        background-color: $light;
                        .crosswalk-buttons__target,
                        .crosswalk-buttons__source {
                            visibility: visible;
                        }
                    }
                    ul.lode__hierarchy-sub-ul {
                        li.lode__hierarchy-sub-li {
                            .lode__hierarchy-item {
                                .add-node-section {
                                    padding-left: 2.5rem;
                                    margin: auto;
                                }
                                .lode__thing {
                                    .lode__Competency {
                                        .lode__thing-heading {
                                            padding-left: 2rem;
                                            margin-bottom: .5rem;
                                        }
                                    }
                                
                                    .lode__thing  {
                                        margin-left: 0;
                                    }
                                }
                                .lode__thing-editing {
                                    max-width: 1300px;
                                    margin: auto;
                                }
                                .lode__name {
                                    .field {
                                        .field-body {
                                            .field {
                                            }
                                        }
                                    }
                                }
                            }
                            ul.lode__hierarchy-sub-ul {
                                li.lode__hierarchy-sub-li {
                                    .lode__hierarchy-item {
                                        .add-node-section {
                                            padding-left: 4rem;
                                            margin: auto;
                                        }
                                        .lode__thing {
                                            .lode__Competency {
                                                .lode__thing-heading {
                                                    padding-left: 3.5rem;
                                                    margin-bottom: .5rem;
                                                }
                                            }
                                            .lode__thing  {
                                                margin-left: 0;
                                            }
                                        }
                                        .lode__thing-editing {
                                            max-width: 1300px;
                                            margin: auto;
                                        }
                                        .lode__name {
                                            .field {
                                                .field-body {
                                                    .field {
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    ul.lode__hierarchy-sub-ul {
                                        li.lode__hierarchy-sub-li {
                                            .lode__hierarchy-item {
                                                .add-node-section {
                                                    padding-left: 5.5rem;
                                                    margin: auto;
                                                }
                                                .lode__thing {
                                                    .lode__Competency {
                                                        .lode__thing-heading {
                                                            padding-left: 5rem;
                                                            margin-bottom: .5rem;
                                                        }
                                                    }
                                                    .thing  {
                                                        margin-left: 0;
                                                    }
                                                }
                                                .lode__thing-editing {
                                                    max-width: 1300px;
                                                    margin: auto;
                                                }
                                                .lode__name {
                                                    .field {
                                                        .field-body {
                                                            .field {
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            ul.lode__hierarchy-sub-ul {
                                                li.lode__hierarchy-sub-li {
                                                    .lode__hierarchy-item {
                                                        .add-node-section {
                                                            padding-left: 7rem;
                                                            margin: auto;
                                                        }
                                                        .lode__thing, .lode__thing-editing {
                                                            .lode__Competency {
                                                                .lode__thing-heading {
                                                                    padding-left: 6.5rem;
                                                                    margin-bottom: .5rem;
                                                                }
                                                            }
                                                            .lode__thing  {
                                                                margin-left: 0;
                                                            }
                                                        }
                                                        .lode__name {
                                                            .field {
                                                                .field-body {
                                                                    .field {
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    ul.lode__hierarchy-sub-ul {
                                                        li.lode__hierarchy-sub-li {
                                                            .lode__hierarchy-item {
                                                                .add-node-section {
                                                                    padding-left: 8.5rem;
                                                                    margin: auto;
                                                                }
                                                                .lode__thing{
                                                                    .lode__Competency {
                                                                        .lode__thing-heading {
                                                                            padding-left: 8rem;
                                                                            margin-bottom: .5rem;
                                                                        }
                                                                    }
                                                                    .lode__thing  {
                                                                        margin-left: 0;
                                                                    }
                                                                }
                                                                .lode__thing-editing  {
                                                                    .lode__Competency {
                                                                        margin-left: 8rem;
                                                                    }
                                                                }
                                                                .lode__name {
                                                                    .field {
                                                                        .field-body {
                                                                            .field {
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            ul.lode__hierarchy-sub-ul {
                                                                li.lode__hierarchy-sub-li {
                                                                    .lode__hierarchy-item {
                                                                        .add-node-section {
                                                                            padding-left: 10rem;
                                                                            margin: auto;
                                                                        }
                                                                        .lode__thing, .lode__thing-editing {
                                                                            .lode__Competency {
                                                                                .lode__thing-heading {
                                                                                    padding-left: 9rem;
                                                                                    margin-bottom: .5rem;
                                                                                }
                                                                            }
                                                                            .lode__thing  {
                                                                                margin-left: 0;
                                                                            }
                                                                        }
                                                                        .lode__name {
                                                                            .field {
                                                                                .field-body {
                                                                                    .field {
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                    ul.lode__hierarchy-sub-ul {
                                                                        li.lode__hierarchy-sub-li {
                                                                            .lode__hierarchy-item {
                                                                                .lode__thing, .lode__thing-editing {
                                                                                    .lode__Competency {
                                                                                        .lode__thing-heading {
                                                                                            margin-left: 10.5rem;
                                                                                            margin-bottom: .5rem;
                                                                                        }
                                                                                    }
                                                                                    .lode__thing  {
                                                                                        margin-left: 0;
                                                                                    }
                                                                                }
                                                                                .lode__name {
                                                                                    .field {
                                                                                        .field-body {
                                                                                            .field {
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }    
                                                                }
                                                            }    
                                                        }
                                                    }    
                                                }
                                            }    
                                        }
                                    }    
                                }
                            }    
                        }
                    }
                }
            }
        }
    }
    .slide-fade-enter-active {
        transition: all .3s ease;
      }
      .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
      }
      .slide-fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
      }
}
     
  
  
  