@import './variables.scss';

.framework-wrapper {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    display: block;
    padding: 3rem 1rem 1rem 1rem;
}
.check-radio-column,
.expand-column {
    .field {
        padding-top: 1.5rem;
    }
    .icon {
        padding-top: 2rem;
    }
}
/* 
handle dragging icon on ghost 
drag, drag, and chosen states 
*/
.handle-button {
    visibility: hidden;
    i.fa-hand-rock {
    cursor: move !important;
      cursor: -webkit-grabbing !important;
        position:absolute;
    }
    i.fa-hand-paper {
        cursor: move !important;
      cursor: -webkit-grabbing !important;
        position:absolute;
    }
}


.ghost-drag {
    .lode__hierarchy-item .lode__thing .lode__Competency{
        background-color: rgba($link, .1);
    }
    .lode__hierarchy-item .lode__thing .lode__Concept{
        background-color: rgba($link, .1);
    }
    i.fa-hand-rock {
        visibility: visible;
    }
}
.chosen-drag {
    i.fa-hand-rock {
        visibility: visible;
    }
    i.fa-hand-paper {
        display: none;
    }
}
.drag {
    margin: .25rem;
    i.fa-hand-paper {
        visibility: hidden;
        color: $cass-primary-down;
    }
     i.fa-hand-rock {
        visibility: visible;
        color: $cass-primary-down;
    }
}

.uneditable {
    word-break: break-all;
}

.lode__hierarchy {
}
// room for improvement, iterate over loop for max depth tabbing
// possibly set tab value based on value in scss varaibles sheet
.lode__hierarchy {
    
    ul.lode__hierarchy-ul {
        li.lode__hierarchy-li {
            .add-new-node {
                padding-left: 5rem;
            }
            .lode__hierarchy-item {                            
                .add-node-section {
                    width: 100%;
                    display:block;
                    max-width: 1300px;
                    padding-left: 3rem;
                    height: auto;
                    cursor: pointer;
                }
                .add-node-section:hover .add-new-node__line, 
                .add-node-section:hover .button {
                    opacity: 1;
                    .add-node__options {
                        padding: 0rem 0rem;
                    }
                }
                .add-new-node__line {
                    transition: opacity .2s;
                    transition-delay: .2s;
                    margin: 0rem;
                    opacity: 0;
                    padding-left: 4rem;
                    height: 6px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .button {
                    }
                    hr  {
                        z-index: 2;
                        width: 100%;
                        display: inline-block;
                        height: 1px;
                        padding-left: -1px;
                        margin-left: auto;
                        margin-right: auto;
                        border-width: 1px;
                        background-color: rgba($primary, .5) !important;
                        color: $black !important;
                        border-color: $primary !important;
                    }
                }
                .lode__thing {
                    .lode__Competency {
                        .lode__thing-heading {
                            max-width: 1300px;
                            margin: auto;
                        }
                    }
                    .lode__Concept {
                        .lode__thing-heading {
                            max-width: 1300px;
                            margin: auto;
                        }
                    }
                }
                .lode__thing-editing {
                    max-width: 1300px;
                    margin: auto;
                    background-color: $light;
                }
                .lode__name {
                    .field {
                        .field-body {
                            .field {
                                font-size: 1.2rem; // top level competencies
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            ul.lode__hierarchy-sub-ul {
                li.lode__hierarchy-sub-li {
                    .lode__hierarchy-item {
                        .add-node-section {
                            padding-left: 2.5rem;
                            margin: auto;
                        }
                        .lode__thing {
                            .lode__Competency {
                                .lode__thing-heading {
                                    padding-left: 2rem;
                                    margin-bottom: .5rem;
                                }
                            }
                            .lode__Concept {
                                .lode__thing-heading {
                                    padding-left: 2rem;
                                    margin-bottom: .5rem;
                                }
                            }
                           
                            .lode__thing  {
                                margin-left: 0;
                            }
                        }
                        .lode__thing-editing {
                            max-width: 1300px;
                            margin: auto;
                        }
                        .lode__name {
                            .field {
                                .field-body {
                                    .field {
                                        font-size: 1.2rem;
                                        font-weight: 500;
                                        font-family: $family-primary; // second level competencies
                                    }
                                }
                            }
                        }
                    }
                    ul.lode__hierarchy-sub-ul {
                        li.lode__hierarchy-sub-li {
                            .lode__hierarchy-item {
                                .add-node-section {
                                    padding-left: 4rem;
                                    margin: auto;
                                }
                                .lode__thing {
                                    .lode__Competency {
                                        .lode__thing-heading {
                                            padding-left: 3.5rem;
                                            margin-bottom: .5rem;
                                        }
                                    }
                                    .lode__Concept {
                                        .lode__thing-heading {
                                            padding-left: 3.5rem;
                                            margin-bottom: .5rem;
                                        }
                                    }
                                    .lode__thing  {
                                        margin-left: 0;
                                    }
                                }
                                .lode__thing-editing {
                                    max-width: 1300px;
                                    margin: auto;
                                }
                                .lode__name {
                                    .field {
                                        .field-body {
                                            .field {
                                                font-size: 1.1rem;
                                                font-weight: 600;
                                                font-family: $family-secondary;
                                            }
                                        }
                                    }
                                }
                            }
                            ul.lode__hierarchy-sub-ul {
                                li.lode__hierarchy-sub-li {
                                    .lode__hierarchy-item {
                                        .add-node-section {
                                            padding-left: 5.5rem;
                                            margin: auto;
                                        }
                                        .lode__thing {
                                            .lode__Competency {
                                                .lode__thing-heading {
                                                    padding-left: 5rem;
                                                    margin-bottom: .5rem;
                                                }
                                            }
                                            .lode__Concept {
                                                .lode__thing-heading {
                                                    padding-left: 5rem;
                                                    margin-bottom: .5rem;
                                                }
                                            }
                                            .thing  {
                                                margin-left: 0;
                                            }
                                        }
                                        .lode__thing-editing {
                                            max-width: 1300px;
                                            margin: auto;
                                        }
                                        .lode__name {
                                            .field {
                                                .field-body {
                                                    .field {
                                                        font-size: 1.1rem;
                                                        font-weight: 400;
                                                        font-family: $family-primary;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    ul.lode__hierarchy-sub-ul {
                                        li.lode__hierarchy-sub-li {
                                            .lode__hierarchy-item {
                                                .add-node-section {
                                                    padding-left: 7rem;
                                                    margin: auto;
                                                }
                                                .lode__thing, .lode__thing-editing {
                                                    .lode__Competency {
                                                        .lode__thing-heading {
                                                            padding-left: 6.5rem;
                                                            margin-bottom: .5rem;
                                                        }
                                                    }
                                                    .lode__Concept {
                                                        .lode__thing-heading {
                                                            padding-left: 6.5rem;
                                                            margin-bottom: .5rem;
                                                        }
                                                    }
                                                    .lode__thing  {
                                                        margin-left: 0;
                                                    }
                                                }
                                                .lode__name {
                                                    .field {
                                                        .field-body {
                                                            .field {
                                                                font-size: 1rem;
                                                                font-weight: 600;
                                                                font-family: $family-secondary;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            ul.lode__hierarchy-sub-ul {
                                                li.lode__hierarchy-sub-li {
                                                    .lode__hierarchy-item {
                                                        .add-node-section {
                                                            padding-left: 8.5rem;
                                                            margin: auto;
                                                        }
                                                        .lode__thing{
                                                            .lode__Competency {
                                                                .lode__thing-heading {
                                                                    padding-left: 8rem;
                                                                    margin-bottom: .5rem;
                                                                }
                                                            }
                                                            .lode__Concept {
                                                                .lode__thing-heading {
                                                                    padding-left: 8rem;
                                                                    margin-bottom: .5rem;
                                                                }
                                                            }
                                                            .lode__thing  {
                                                                margin-left: 0;
                                                            }
                                                        }
                                                        .lode__thing-editing  {
                                                            .lode__Competency {
                                                                margin-left: 8rem;
                                                            }
                                                            .lode__Concept {
                                                                margin-left: 8rem;
                                                            }
                                                        }
                                                        .lode__name {
                                                            .field {
                                                                .field-body {
                                                                    .field {
                                                                        font-size: 1rem;
                                                                        font-weight: 400;
                                                                        font-family: $family-primary;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    ul.lode__hierarchy-sub-ul {
                                                        li.lode__hierarchy-sub-li {
                                                            .lode__hierarchy-item {
                                                                .add-node-section {
                                                                    padding-left: 10rem;
                                                                    margin: auto;
                                                                }
                                                                .lode__thing, .lode__thing-editing {
                                                                    .lode__Competency {
                                                                        .lode__thing-heading {
                                                                            padding-left: 9rem;
                                                                            margin-bottom: .5rem;
                                                                        }
                                                                    }
                                                                    .lode__Concept {
                                                                        .lode__thing-heading {
                                                                            padding-left: 9rem;
                                                                            margin-bottom: .5rem;
                                                                        }
                                                                    }
                                                                    .lode__thing  {
                                                                        margin-left: 0;
                                                                    }
                                                                }
                                                                .lode__name {
                                                                    .field {
                                                                        .field-body {
                                                                            .field {
                                                                                font-size: .9rem;
                                                                                font-weight: 600;
                                                                                font-family: $family-secondary;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            ul.lode__hierarchy-sub-ul {
                                                                li.lode__hierarchy-sub-li {
                                                                    .lode__hierarchy-item {
                                                                        .lode__thing, .lode__thing-editing {
                                                                            .lode__Competency {
                                                                                .lode__thing-heading {
                                                                                    margin-left: 10.5rem;
                                                                                    margin-bottom: .5rem;
                                                                                }
                                                                            }
                                                                            .lode__Concept {
                                                                                .lode__thing-heading {
                                                                                    margin-left: 10.5rem;
                                                                                    margin-bottom: .5rem;
                                                                                }
                                                                            }
                                                                            .lode__thing  {
                                                                                margin-left: 0;
                                                                            }
                                                                        }
                                                                        .lode__name {
                                                                            .field {
                                                                                .field-body {
                                                                                    .field {
                                                                                        font-size: .9rem;
                                                                                        font-weight: 400;
                                                                                        font-family: $family-primary;
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }    
                                                        }
                                                    }    
                                                }
                                            }    
                                        }
                                    }    
                                }
                            }    
                        }
                    }    
                }
            }
        }
    }
}

.framework__info-bar {
    margin: 1rem .5rem;
}


.framework-wrapper {
    .lode__thing:hover {
        .lode__Competency {
            .lode__Property.lode__name{
                color: $primary;
            }
        }
        .lode__Concept {
            .lode__Property.lode__name{
                color: $primary;
            }
        }
    }
    .lode__thing {
        padding: .5rem;
        padding-right: 1rem;
        .lode__Framework {
            max-width: 1300px;
        }
    }
}
    .lode__thing {
        padding: .5rem;
        padding-right: 1rem;
        .lode__Framework {
            .lode__framework__info-bar {
                padding: .5rem;
                margin-left: 1.5rem;
            }
            .lode__Property.lode__name {
                font-size: 1.2rem;
                font-family: $family-secondary;
                font-weight: 600;
            }
        }
        .lode__Competency,
        .lode__Concept,
        .lode__Framework {
            .lode__thing-heading {
                padding: 0rem 6rem 0rem .5rem;
            }
        }
        .lode__thing-editing,
        .bottom-actions {
            margin: .5rem;
        }
        
    }


    
.lode__thing-editing {
    .drag-footer {
        display: none;
    }
    padding: .5rem !important;
    .lode__thing.lode__Competency {
        background-color: $cass-lightest;
    }
    .lode__thing.lode__Concept {
        background-color: $cass-lightest;
    }
    .handle-button {
        display: none;
    }
    label.label {
        text-align: left;
    }
    border-radius: 2px;
    
    .bottom-actions {
        padding: .25rem .5rem;
        .select {
            margin: 0 .5rem;
        }
    }
    .lode__Framework {
        .header {
            padding: .5rem;
        }
        .lode__framework__info-bar {
            padding: .5rem;
            margin-left: 0rem;
        }
        .lode__Property.lode__name {
            font-size: 1.2rem;
            font-family: $family-secondary;
            font-weight: 600;
        }
    }
    
}
.add-property {
    background-color: white;
    border: solid 1px rgba($dark, .2);
    border-radius: 2px;
    padding: 6px;
    margin: .5rem;
    .delete-property-button {
        display: none !important;
    }
    .label {
        padding-left: .25rem;
    }
    .add-property__input-type {
    }
    .add-property__select-type {
        padding: 1rem 0rem;
    }
}

.lode__Property {
    padding: .5rem 0rem;
    font-size: $size-7;
    font-weight: 400;
    .field  {
        padding-left: 1rem;
    }
    .field-label {
        padding: .25rem 0rem;
    }
}
.lode__Property.lode__name {
    font-family: $family-secondary;
    font-size: $size-6;
    font-weight: 400;
}
.lode__Property.lode__id {
    font-size: $size-7;
    font-weight: 400;
}
.lode__Property.lode__description {
    font-size: $size-7;
    font-weight: 400;
}
.lode__Property.lode__narrows,
.lode__Property.lode__Narrows,
.lode__Property.lode__Level,
.lode__Property.lode__broadens,
.lode__Property.lode__desires,
.lode__Property.lode__requires,
.lode__Property.lode__Broadens,
.lode__Property.lode__is_enabled_by,
.lode__Property.lode__is_related_to,
.lode__Property.lode__is_equivalent_to {
    padding-left: 3rem;
    .edit-button .icon {
        display: none;
        color: $link !important;
    }
    .lode__thing {
        .click-to-load {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .thing-as-property__text {
                width: 100%;
            }
            .competency-as-property {
                cursor: pointer;
                font-size: .9rem;
                color: $text;
                vertical-align: super;
            }
            .icon {
                font-size: .6rem;
            }
            .button {
                margin-left: 1rem;
                visibility: hidden;
            }
        }
        .click-to-load:hover .button {
            visibility: visible;
        }
        
        padding-left: 0rem;
        .comment-button {
            display: none;
        }
         .lode__Competency {
            .lode__thing-heading {
                padding-left: 0rem !important; // related 
                .lode__Property {
                    .field {
                        padding-left: 0rem;
                    }
                }
            }
        }
        .lode__Concept {
            .lode__thing-heading {
                padding-left: 0rem !important; // related 
                .lode__Property {
                    .field {
                        padding-left: 0rem;
                    }
                }
            }
        }
    }
}
 
// top level items outside of Hierarchy
.lode__thing {
    a {
        display:none;
    }
    transform: translateX(0); // make room for add node
    .edit-button {
        position: absolute;
        right: 0rem;
        padding:.125rem;
        visibility: hidden;
    }
    .handle-button {
        position: absolute;
        right: 2rem;
        padding: .125rem;
        visibility: hidden !important;
    }
    .comment-button {
        position: absolute;
        color: $dark;
        right: 4rem;
        top: 0;
        padding: .25rem .125rem;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .edit-button:hover,
    .comment-button:hover,
    .handle-button:hover {
        visibility: visible;
        color: $primary;
        .icon {
            color: $primary;
        }
    }
    .drag-button {
        position: absolute;
        right: 32px;
        visibility: visible;
        .button {
            color: $cass-primary-down;
        }
    }
    .drag-button:hover {
        .button {
            color: $primary !important;
        }
    }
    .lode__Competency,
    .lode__Concept,
    .lode__Framework {
        transform: translateX(0);
        width: 100%;
        a {
            display:none;
        }
        .top-actions, .bottom-actions {
            padding: .5rem .5rem;
        }
        ul.lode__thing-always-ul.lode__thing-ul{
            .lode__property {
                .property-buttons {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    align-content: center;
                    width: 96px;
                }
                .property-buttons.general {
                    align-items: flex-end;
                    padding-bottom: .5rem;
                }
                .lode__property-ul {
    
                    li {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        flex-wrap: nowrap;
                    }
                }
                .lode__property-ul.unsaved {
                    width: 100%;
                }
            }
        }
    }
}
.lode__thing:hover {
    padding: .5rem;
    padding-right: 1rem;
    .lode__Competency {
        .lode__Property.lode__name{
        }
        .lode__Property.lode__Broadens,
        .lode__Property.lode__Narrows,
        .lode__Property.lode__Equals
        .lode__Property.lode__Similar,
        .lode__Property.lode__Similar {
            .lode__Property.lode__name {
            }
        }
    }
    .edit-button, .handle.fa-hand-paper {
        visibility: visible;
    }
    .lode__Competency {
        .edit-button {
            visibility: visible;
        }
        .comment-button {
            visibility: visible;
        }
    }
    .lode__Concept {
        .edit-button {
            visibility: visible;
        }
        .comment-button {
            visibility: visible;
        }
    }
    
}

// list of competencies 
.lode__Hierarchy {
    padding: 0rem 1rem;
    .lode__HierarchyNode {
        border-left: none;
        margin: 0rem;
    }
    .lode__Competency, .lode__Concept {
        transform: translateX(0);
        border-left: none;
        a {
            display:none;
        }
        cursor: pointer;
        // hidden element for clicking
        .clickable-hierarchy {
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            //z-index: 1;
            bottom: 32;
            left: 0;
        }
        .lode__thing-ul, .lode__thing-ul, .lode__thing-always-ul{
            .lode__property {
                padding: .125rem 0rem;
                .lode__property-ul {
                }
                label {
                }
                .thing-label {
                }
                .active {
                    color: $link;
                }
            }
        }
        // required properties
        .lode__thing-always-ul .lode__thing-ul {
            width: 100%;
            height: 100%;
            position: relative;
        }
        // contains properties
        .lode__thing-view-ul .lode__thing-ul {
            width: 100%;
            li .lode__property {
                label {
    
                }
                span .button {
                }
            }

        }
        // global properties
        .lode__thing-possible-ul .lode__thing-ul {

        }
    }
}
