@import './variables.scss';

.page-framework{
    padding-top: 52px;
    .far.fa-circle {
        font-size: .5rem;
    }
    .dragging{
        div{
            //border:1px dashed gray !important;
            .drag-footer::before{
                content:'' !important
            }
            .drag-footer{
            }
        }
    }
    // top thing
    .e-Thing {
        a {
            display:none;
        }
    }
    // top level items outside of Hierarchy
    .thing {
        .e-Thing.e-Competency {
            transform: translateX(0);
            display: flex;
            flex-direction: column;
            flex-flow: column;
            background-color: white;
            padding: 0rem 0rem;
            ul{
                margin-left:0.5rem;
            }
            a {
                display:none;
            }
            .top-actions, .botton-actions {
                opacity: 1;
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                bottom: -3rem;
                padding: .5rem .5rem;
                background-color:white;
                    .action {
                        width: 30%;
                    }
                    .info {
                        width: 30%;
                    }
                    .tags {
                        display: inline;
                    }
                    .view {
                        display: flex;
                        width: 30%;
                }
            }
            .bottom-actions {
                border-top: solid 1px rgba($dark, .5);
            }
            ul.e-Thing-always-ul.e-Thing-ul{
                background-color: transparent;
                .e-Property-text{
                    font-size:larger;
                }
                .e-Property {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    label {
                        display: none;
                    }
                    .property-buttons {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        align-content: center;
                        width: 96px;
                    }
                    .property-buttons.general {
                        align-items: flex-end;
                        padding-bottom: .5rem;
                    }
                    .e-Property-ul {
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        flex-wrap: wrap;
                        li {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;
                            flex-wrap: nowrap;
                            .input-span,
                            .property-string-span {
                                width: 100%;
                                .input-field {
                                    width: 100%;
                                    textarea {
                                        border: none;
                                        border-radius: 2px;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .e-Property-ul.unsaved {
                        width: 100%;
                    }
                }
                .e-Property-text {
                    label {
                        font-size: $size-3;
                        font-weight: 600 !important;
                    }
                }
            }
            
        }
    }
    // list of competencies 
    .e-Hierarchy {
        .highlighted{
            background-color:yellow;
        } 
        .e-HierarchyNode {
            border-left: none;
            margin: .5rem;
            .e-thing-ul {
                width: calc(100% - 16px);
            }
        }
        .e-Hierarchy-ul {
            ul.e-Thing-ul, .e-Thing-always-ul {
                background-color:$light;
                padding: .5rem;
                li.e-Property.e-name {
                    ul.e-Property-ul {
                        .e-Property-text {
                            font-weight: 600;
                        }
                    }
                }
                // non editing state - normal view 
                li.e-Property:not(:last-child) {
                    border-bottom: none;  
                }
                li.e-Property {
                    cursor: pointer;
                    
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: flex-end;
                    display: flex;
                    flex-wrap: wrap;
                    .property-buttons {
                        display: flex;
                        .button {
                        }
                    }
                    .property-buttons.general {
                        align-items: flex-end;
                        padding-bottom: .5rem;
                        flex-wrap: nowrap;
                        width: 120px;
                        align-content: flex-end;
          
                        .button {
                        }
                    }
                    // when editing a property, make clear
                    .property-action-section {
                        width: 98%;
                        padding: 1%;
                        display: flex;
                        justify-content: flex-start;
                    }
                  
                    ul.e-Property-ul {
                        width: 100%;
                        margin-left: .75rem;
                        margin-top: 0rem;
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: 0rem;
                        li.add-property-button {
                            display: flex;
                            justify-content: flex-end;
                        }
                        
                        label {
                            width: 100%;
                        }
                        .property-value {
                            width: calc(100% - 56px);
                        }
                        .add-property-button {
                            width: 56px;
                        }
                        .property-action-section {
                            width: 98%;
                            padding: 1%;
                            display: flex;
                            justify-content: flex-start;
                        }
                        li {
                            width: 100%;
                            display:flex;
                            padding: 0rem 0rem;
                            justify-content: space-between;
                            flex-direction: row;
                            flex-wrap: wrap;
                            .property-string-span {
                                width: 100%;
                            }
                            .property-buttons {
                                width: 100%;
                            }
                            .e-Property-text {
                                width: 100%;
                                font-size: 1rem;
                                word-wrap: break-word;
                                width: calc(100% - 124px);
                            }
                            span {
                                textarea {
                                    width: 100%;
                                    border-radius: 5px;
                                    border: none;
                                    padding: 6px;
                                }
                            }
                            .button {
                                width: auto;
                                .button-text {
                                }
                            }
                        }
                    }
                }                    
                li.e-Property.editing {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: flex-end;
                    display: flex;
                    flex-wrap: wrap;
                    label {
                        width: 100%;
                    }
                    .property-value {
                        width: 100%;
                    }
                    .add-property-button {
                        width: 100%;
                    }
                    .property-buttons {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                    }
                    .property-buttons.general {
                        align-items: flex-end;
                        display: flex;
                        padding-bottom: .5rem;
                        justify-items: space-between;
                        align-items: center;
                        justify-content: space-between;
                        width: auto;
                        .button {
                        }
                        span.button-text {
                            display: inline;
                        }
                        .icon {
                        }
                    }
                    ul.e-Property-ul {
                        width: 100%;
                        margin-left: .75rem;

                        margin-top: 0rem;
                        margin-right: 0rem;
                        label {
                            width: 100%;
                        }
                        .property-action-section {
                            width: 98%;
                            padding: 1%;
                            display: flex;
                            justify-content: flex-start;
                        }
                        li {
                            width: 100%;
                            display:flex;
                            padding: .25rem 0rem;
                            justify-content: space-between;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            .e-Property-text {
                                width: 100%;
                            }
                            .property-string-span {
                                padding: .25rem;
                                padding: 0rem;
                                width: 100%;
                                textarea {
                                    border-radius: 0px;
                                    border:transparent;
                                    border-bottom: none;
                                    padding: 6px;
                                }
                    
                                .input-field {
                                    textarea {
                                        border: none;
                                        width: 100%;
                                    }
                                }
                                .editing-property-buttons {
                                    width: 48px;
                                }
                            
                            }
                            .property-buttons {
                                padding: .25rem;
                                padding: 0rem;
                                width: 100%;
                                height: auto;
                                display:flex;
                                justify-items: flex-end;
                                align-items: flex-end;
                            }
                            .button {
                                cursor: pointer;
                                .button-text {
                                }
                            }
                        }
                        li.add-property-button {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                    
                }
            }
        }
        .e-Competency {
            transform: translateX(0);
            border-left: none;
            a {
                display:none;
            }
            cursor: pointer;
            // hidden element for clicking
            .clickable-hierarchy {
                height: 100%;
                position: fixed;
                top: 0;
                right: 0;
                //z-index: 1;
                bottom: 32;
                left: 0;
            }
            .e-Thing-ul, .e-Thing-ul, .e-Thing-always-ul{
                background-color: rgba($dark, .1);
                .e-Property {
                    padding-top: .5rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    .e-Property-ul {
                        width: 100%;
                    }
                    label {
                        display: flex;
                        width: 100%;
                        flex-direction: row-reverse;
                    }
                    .thing-label {
                        width: 100%;
                        padding-left: .5rem;
                    }
                    .active {
                        color: $link;
                    }
                    .special-property {
                        width: 100% !important;
                    }
                }
                .input-field {
                    display: flex;
                }
                .textarea-input {
                    width: 70%;
                }
                .text-input {
                    width: 30%;
                }
                .text-input, .textarea-input {
                    border: none;
                    border-radius: 5px;
                }
            }
            // required properties
            .e-Thing-always-ul .e-Thing-ul {
                width: 100%;
                height: 100%;
                position: relative;
            }
            // contains properties
            .e-Thing-view-ul .e-Thing-ul {
                width: 100%;
                li .e-Property {
                    width: 100%;
                    display: flex;
                    flex-direction: row-reverse;
                    label {
                        width: 100%;
                        display: flex;
        
                    }
                    span .button {
                        width: 5%;
                    }
                }

            }
            // global properties
            .e-Thing-possible-ul .e-Thing-ul {

            }
        }
    }
}
