@import './variables.scss';

#directory,
#directoryList,
#frameworks,
.framework-list-page:not(.thing-editing) {
    .lode__Property {
        padding: .125rem 0rem;
    }
    .show-only-mine {
        display: none;
    }
    .page {
        margin-top: 2rem;
    }
    .cass--list--container {
        .button {
            display: none;
        }
        .cass--list {
             li.cass--list--item {
                    padding: .5rem;
                    width: 100%;
                    display: flex;
                    flex-wrap: no-wrap;
                    align-items: center;
                    .cass--list--thing {
                        width: calc(100% - 56px);
                        display: flex;
                    }
                    .lode__type {
                        display: none;
                    }
                    .language {
                        display: none;
                    }
                    .arrow-icon {
                        visibility: hidden;
                    }
                    .cass--list-item--content {
                        .breadcrumb {
                            padding-bottom: .25rem;
                        }
                    }
                    .cass--list--thing {
                        .lode__Directory,
                        .lode__Competency,
                        .lode__Concept,
                        .lode__ConceptScheme,
                        .lode__Definition,
                        .lode__prefLabel {
                            .lode__thing-heading {
                                line-height: 1rem;
                                .framework-details {
                                }
                            }
                            .lode__Property {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                max-width: 400px;
                                line-height: 1rem;
                                padding: 0 0 .25rem 0;
                                .tag {
                                    display: none;
                                }
                            }
                        }
                    }
            }
            li.cass--list--item:hover {
                background-color: var(--light-color);
                .arrow-icon {
                    visibility:visible;
                }
            }
            .cass--list--item{
                border-radius: $border-radius;
                padding: .0rem .5rem .25rem .125rem;
                margin-top: .5rem;
                .framework-list-item__details {
                    color: $text;
                    font-weight: 300;
                    font-size: $size-6;
                    font-family: $family-primary;
                    .details-label {
                        font-weight: 600;
                    }
                }

            }
            .cass--list--item--selected {
                background-color: var(--primary-color-4) !important;
            }
            .cass--list--item:hover {
            }
            .lode__thing {
                .bottom-actions, .top-actions {
                    display: none !important;
                }
                .lode__Framework, .lode__Concept, .lode__ConceptScheme, .lode__Concept {
                    transform: translateX(0);
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 1rem;
                    font-family: $family-secondary;
                    .lode__Thing-ul {
                        padding: 0rem .5rem;
                        width: 100%;

                    }

                }
            }
        }
    }
    .lode__Framework,
    .framework-list-page,
    .lode__ConceptScheme,
    .lode__Concept {
        a {
            display:none;
        }
        .icon {
            display:none;
        }
        .editable {
            display:inline;
        }
        .not-editable {
            display:inline;
        }
        .field {
            padding-left: 0;
        }
    }
    .lode__thing-editing {
        .field.is-grouped {
            padding: .25rem 0rem;
        }
        .lode__Property {
            padding: .5rem 0rem;
        }
    }
    .lode__thing {
        .lode__name {
            .field {
                padding-left: 0;
                display: inline-block;
            }
            .field:nth-of-type(n + 3) {
                .field-body {
                    .field {
                        padding-left: 0;
                        &::before {
                            content: ", ";
                        }
                    }
                }
            }
            .field:first-of-type{
                display: block;
                .field-body {
                    .field {
                        display: block;
                        font-weight: 500;
                        font-family: $family-secondary;
                        width: 100%;
                        font-size: $size-3;
                    }
                }
            }
    
    
    
            label {
                display:none;
            }
            .lode__Property-ul{
                border-radius: .25rem;
                padding: 0rem .0rem;
                font-size: .8rem;
                margin: .125em 0em;
    
                color: rgba($dark, .9);
                .lode__description {
                    font-weight: 400;
                    font-size: $size-6;
                }
                .lode__name{
                    font-weight: 600;
                    font-size: $size-4;
                }
    
                label {
                    font-size: $size-6;
                    font-weight: 500;
                }
            }
        }
        .lode__description {
            display: none;
            .lode__Property-text  {
                font-size: $size-6;
            }
            .lode__Property-ul {
                margin: 0rem;
            }
        }
    }
}

/* handles search */
.cass--list--container {
    .cass--list {
        
        .cass--list--item {
            display: flex;
            flex-wrap: no-wrap;
            padding: .25rem;
            .search-selection__icon,
            .search-selection__add-icon
            {
                display: flex;
                height: 100%;
                align-content: center;
                .icon {
                    height: 100%;
                    padding-right: 16px;
                }
            }
            .search-selection__add-icon {
                visibility: hidden;
            }
        }
        .cass--list--item:hover {
            background-color: rgba($light, .5);
            .lode__Competency .search-selection__add-icon,
            .lode__Level .search-selection__add-icon {
                visibility: visible !important;
            }
        }
    }
}





.cass--list-item--icon {
    width: 3.5rem;
}
.cass--list-item--icon-wrap {
    height: 32px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .125rem;
    color: white;
    width: 32px;
    border: 32px;
}
.cass--list-item--content {
    width: 100%;
    .lode__name {
        font-weight: 600;
        font-family: $family-secondary;
    }
}
.cass--list-item--hover {
    width: 100px;
}