@import './variables.scss';

.framework-list-page {
    label{
        display:none;
    }
    .e-Property {	
    padding: .5rem 0rem;	
    }

    .page {	
        margin-top: 2rem;	
    }
    .List {
        .button {
            display: none;
        }
        .list-ul {
             li.list-ul__item {
                    padding: .5rem;
                    background-color: white;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .list-thing {
                        width: calc(100% - 56px);
                    }

            }
            li.list-ul__item:hover {
                background-color: $light;
            }
            .list-ul__item{
                border-radius: $border-radius;
                padding: .0rem .5rem .25rem .125rem;
                margin-top: .5rem;
                .framework-list-item__details {
                    color: rgba($dark, .6);
                    padding-right: .5rem;
                    font-size: $size-7;
                    .details-value {

                    }
                    .details-label {
                        font-weight: 600;
                    }
                }
            
            }
            .list-ul__item:hover {
            }
            .thing {
                .bottom-actions, .top-actions {
                    display: none !important;
                }
                .e-Thing.e-Framework {
                    transform: translateX(0);
                    cursor: pointer;
                    .e-Framework {
                       
                    }
                    .e-Thing-ul {
                        padding: 0rem .5rem;
                        width: 100%;

                    }
                    
                }
            }
        }
    }
     .e-Framework, .framework-list-page .e-ConceptScheme {
        a {
            display:none;
        }
        .icon {
            display:none;
        }
        .editable {
            display:inline;
        }
        .not-editable {
            display:inline;
        }
    }
    .e-name {
        .field {
            display: inline-block;
        }
        .field:nth-of-type(n + 3) {
            .field-body {
                .field {
                    &::before {
                        content: ", ";
                    }
                }
            }
        }
        .field:first-of-type{
            display: block;
            .field-body {
                .field {
                    display: block;
                    font-weight: 500;
                    font-family: $family-secondary;
                    width: 100%;
                    font-size: $size-3;
                }
            }
        }
        
        
        
        label {
            display:none;
        }
        .e-Property-ul{	
            border-radius: .25rem;	
            padding: 0rem .0rem;	
            font-size: .8rem;	
            margin: .125em 0em;	

            color: rgba($dark, .9);	
            .button {	

            }	
            .e-description {	
                font-weight: 400;	
                font-size: $size-7;	
            }	
            .e-name{	
                font-weight: 600;	
                font-size: $size-4;	
            }	

            label {	
                font-size: $size-7;	
                font-weight: 500;	
            }
        }	
    }
    .e-description {
        .e-Property-text  {
            font-size: $size-6;
        }
        .e-Property-ul {
            margin: 0rem;
        }
    }
}


