@import './variables.scss';

.page-framework-list {
    label{
        display:none;
    }
    .e-Property {	
    padding: .25rem 0rem;	
    }

    .page {	
        margin-top: 2rem;	
    }
    .List {
        .button {
            display: none;
        }
        .list-ul {
             li.list-ul__item {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .list-thing {
                        width: calc(100% - 56px);
                    }
                    .icon {
                        width: 56px;
                        display: none;
                        flex-direction: column;
                    }
            }
            .list-ul__item{
                border-radius: $border-radius;
                padding: .0rem .5rem .25rem .125rem;
                margin-top: .5rem;
                .framework-list-item__details {
                    color: rgba($dark, .6);
                    padding-right: .5rem;
                    font-size: $size-7;
                    .details-value {

                    }
                    .details-label {
                        font-weight: 600;
                    }
                }
            
            }
            .list-ul__item:hover {
                    .icon {
                        width: 56px;
                        display: flex;
                        flex-direction: column;
                    }
            }
            .thing {
                .bottom-actions, .top-actions {
                    display: none !important;
                }
                .e-Thing.e-Framework {
                    transform: translateX(0);
                    cursor: pointer;
                    .e-Framework {
                       
                    }
                    .e-Thing-ul {
                        padding: 0rem .5rem;
                        width: 100%;

                    }
                    
                }
            }
        }
    }
     .e-Framework, .page-framework-list .e-ConceptScheme {
        a {
            display:none;
        }
        .icon {
            display:none;
        }
        .editable {
            display:inline;
        }
        .not-editable {
            display:inline;
        }
    }
    .e-name {
        .e-Property-ul{
            .property-value {
                display: inline-block;
            }
            .property-value:nth-of-type(n + 3):not(:last-child) {
                &::before {
                    content: ", ";
                }
            }
            .property-value:first-child {
                display: block;
                font-weight: 500;
                font-family: $family-secondary;
                width: 100%;
                font-size: $size-3;
                .e-Property-text {
                    font-size: $size-3;
                }
            }
        }
        
        label {
            display:none;
        }
        .e-Property-ul{	
            border-radius: .25rem;	
            padding: 0rem .0rem;	
            font-size: .8rem;	
            margin: .125em 0em;	

            color: rgba($dark, .9);	
            .button {	

            }	
            .e-description {	
                font-weight: 400;	
                font-size: $size-7;	
            }	
            .e-name{	
                font-weight: 600;	
                font-size: $size-4;	
            }	

            .fa {	
                font-size: $size-7;	
                color: $dark;	
            }	
            label {	
                font-size: $size-7;	
                font-weight: 500;	
            }
        }	
    }
    .e-description {
        .e-Property-text  {
            font-size: $size-6;
        }
        .e-Property-ul {
            margin: 0rem;
        }
    }
}


