@import './variables.scss';

.page-framework{
    .container {
        max-width: 880px;
        display: block;
        margin: auto;
    }
    padding-top: 36px;
    #select-expand-all-section {
        padding-top: 1rem !important;
        .header {
            padding-left: .75rem;
            font-weight: 600;
        }
    }
    .thing-editing,
        .thing {
            .e-Thing.e-Competency {
            padding: .75rem;
        }
    }
    .thing-editing {
        margin-bottom: .5rem;
        background-color: rgba($light, .3);
    }
    .add-property {
        background-color: rgba($white, .5);
        margin: .5rem;
        .label {
            padding-left: .25rem;
        }
        .add-property__input-type {
        }
    }
    #add-node-selection {
    }
    #add-node-section:hover .add-new-node {
        visibility: visible;
        height: 24px;
    }
    .e-Property.e-name {
        font-size: .8rem;
        font-weight: 600;
    }
    .e-Property.e-id {
        font-size: .7rem;
        font-weight: 500;
    }
    .e-Property.e-description {
        font-size: .8rem;
        font-weight: 400;
    }
    .e-Property {
        font-size: .8rem;
        font-weight: 500;
    }
    .add-new-node {
        padding-left: 2.5rem;
        height: 24px;
        display: flex;
        visibility: hidden;
        align-items: center;
        hr  {
            width: 100%;
            display: block;
            height: 2px;
            padding-left: -1px;
            margin-left: auto;
            margin-right: auto;
            border-width: 1px;
            background-color: $light !important;
            color: $black !important;
            border-color: $light !important;
        }
        i {
            vertical-align: center;
            z-index: 200;
            padding-bottom: 4px;
        }
    }
    .add-new-node:hover {
        visibility: visible !important;
    }
 
    .far.fa-circle {
        font-size: .4rem;
    }
    // room for improvement, iterate over loop for max depth tabbing
    // possibly set tab value based on value in scss varaibles sheet
    .e-Hierarchy {
        .e-Hierarchy-ul {
            max-width: 880px;
            li.e-HierarchyNode {
                
                .thing, .thing-editing {
                    margin-left: 1rem;
                }
                .e-HierarchyNode-ul {
                    .e-HierarchyNode {
                        .thing, .thing-editing {
                            margin-left: 2rem;
                        }
                    }
                    .e-HierarchyNode-ul {
                        .e-HierarchyNode {
                            .thing, .thing-editing {
                                margin-left: 3rem;
                            }
                            .e-HierarchyNode-ul {
                                .e-HierarchyNode {
                                    .thing, .thing-editing {
                                        margin-left: 4rem;
                                    }
                                    .e-HierarchyNode-ul {
                                        .e-HierarchyNode {
                                            .thing, .thing-editing {
                                                margin-left: 5rem;
                                            }
                                            .e-HierarchyNode-ul {
                                                .e-HierarchyNode {
                                                    .thing, .thing-editing {
                                                        margin-left: 6rem;
                                                    }
                                                    .e-HierarchyNode-ul {
                                                        .e-HierarchyNode {
                                                            .thing, .thing-editing {
                                                                margin-left: 7rem;
                                                            }
                                                            .e-HierarchyNode-ul {
                                                                .e-HierarchyNode {
                                                                    .thing, .thing-editing {
                                                                        margin-left: 8rem;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .dragging{
        div{
            //border:1px dashed gray !important;
            .drag-footer::before{
                content:'' !important
            }
            .drag-footer{
            }
        }
    }
    // top thing
    .e-Thing {
        a {
            display:none;
        }
    }
    // top level items outside of Hierarchy
    .thing {
        .e-Thing.e-Competency.showHoverItems {
            background-color: $cass-lightest;
            .edit-button {
                visibility: visible;
            }
        }
        
        .e-Thing.e-Competency {
            transform: translateX(0);
            width: 100%;
            .edit-button {
                position: absolute;
                color: dark;
                right: 0;
                visibility: hidden;
                
            }
           
            ul{
                margin-left:1rem;
            }
            a {
                display:none;
            }
            .top-actions, .botton-actions {
                opacity: 1;
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                bottom: -3rem;
                padding: .5rem .5rem;
                    .action {
                        width: 30%;
                    }
                    .info {
                        width: 30%;
                    }
                    .tags {
                        display: inline;
                    }
                    .view {
                        display: flex;
                        width: 30%;
                }
            }
            .bottom-actions {
                border-top: none;
            }
            ul.e-Thing-always-ul.e-Thing-ul{
                .e-Property-text{
                }
                .e-Property {

                    label {
                    }
                    .property-buttons {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        align-content: center;
                        width: 96px;
                    }
                    .property-buttons.general {
                        align-items: flex-end;
                        padding-bottom: .5rem;
                    }
                    .e-Property-ul {
     
                        li {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;
                            flex-wrap: nowrap;
                        }
                    }
                    .e-Property-ul.unsaved {
                        width: 100%;
                    }
                }
                .e-Property-text {
                    label {
                    }
                }
            }
            
        }
    }
    // list of competencies 
    .e-Hierarchy {
        padding: 0rem 1rem;
        .highlighted{
            background-color:yellow;
        } 
        .e-HierarchyNode {
            border-left: none;
            margin: 0rem;
            
            
            .e-thing-ul {
                
            }
            ul .e-Thing {
                
            }
        }
        .e-Hierarchy-ul {
            padding-top: .5rem;
            .e-HierarchyNode-ul .thing{
            }
            .e-Thing-ul {
                width: 100%;
            }
            ul.e-Thing-ul, .e-Thing-always-ul {
                padding: .125rem;
                margin-left: 0;
                li.e-Property.e-name {
                    ul.e-Property-ul {
                        .e-Property-text {
                            font-weight: 600;
                        }
                    }
                }
                // non editing state - normal view 
                li.e-Property:not(:last-child) {
                    border-bottom: none;  
                }
                li.e-Property {
                    cursor: pointer;
                    
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: flex-end;
                    display: flex;
                    flex-wrap: wrap;
                    .property-buttons {
                        display: flex;
                        .button {
                        }
                    }
                    .property-buttons.general {
                        align-items: flex-end;
                        padding-bottom: .5rem;
                        flex-wrap: nowrap;
                        width: 120px;
                        align-content: flex-end;
          
                        .button {
                        }
                    }
                    // when editing a property, make clear
                    .property-action-section {
                        width: 98%;
                        padding: 1%;
                        display: flex;
                        justify-content: flex-start;
                    }
                  
                    ul.e-Property-ul {
                        width: 100%;
                        margin-left: .0rem;
                        margin-top: 0rem;
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: 0rem;
                        li {
                            width: 100%;
                            display:flex;
                            padding: 0rem 0rem;
                            justify-content: space-between;
                            flex-direction: row;
                            flex-wrap: wrap;
                            .property-buttons {
                                width: 100%;
                            }
                            .e-Property-text {
                                width: 100%;
                                font-size: 1rem;
                                word-wrap: break-word;
                                width: calc(100% - 124px);
                            }
                            .button {
                                width: auto;
                                .button-text {
                                }
                            }
                        }
                    }
                }                    
                li.e-Property.editing {
                    width: 100%;
                    label {
                    }
                    .property-buttons {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                    }
                    .property-buttons.general {
                        align-items: flex-end;
                        display: flex;
                        padding-bottom: .5rem;
                        justify-items: space-between;
                        align-items: center;
                        justify-content: space-between;
                        width: auto;
                        span.button-text {
                            display: inline;
                        }
                    }
                    ul.e-Property-ul {
                        width: 100%;
                        margin-left: 0rem;

                        margin-top: 0rem;
                        margin-right: 0rem;
                        label {
                        }
                        .property-action-section {
                            width: 98%;
                            padding: 1%;
                            display: flex;
                            justify-content: flex-start;
                        }
                        li {
                            width: 100%;
                            display:flex;
                            padding: .25rem 0rem;
                            justify-content: space-between;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            .property-buttons {
                                padding: .25rem;
                                padding: 0rem;
                                width: 100%;
                                height: auto;
                                display:flex;
                            }
                            .button {
                                cursor: pointer;
                                .button-text {
                                }
                            }
                        }
                    }
                    
                }
            }
            
        }
        .e-Competency {
            transform: translateX(0);
            border-left: none;
            width: 100%;
            a {
                display:none;
            }
            cursor: pointer;
            // hidden element for clicking
            .clickable-hierarchy {
                height: 100%;
                position: fixed;
                top: 0;
                right: 0;
                //z-index: 1;
                bottom: 32;
                left: 0;
            }
            .e-Thing-ul, .e-Thing-ul, .e-Thing-always-ul{
                .e-Property {

                    .e-Property-ul {
                    }
                    label {
                    }
                    .thing-label {
                    }
                    .active {
                        color: $link;
                    }
                    .special-property {
                        width: 100% !important;
                    }
                }
            }
            // required properties
            .e-Thing-always-ul .e-Thing-ul {
                width: 100%;
                height: 100%;
                position: relative;
            }
            // contains properties
            .e-Thing-view-ul .e-Thing-ul {
                width: 100%;
                li .e-Property {
                    label {
        
                    }
                    span .button {
                    }
                }

            }
            // global properties
            .e-Thing-possible-ul .e-Thing-ul {

            }
        }
    }
}
