@import './variables.scss';

.cass__right-side--details {

}
.cass__right-aside--share {

}
.cass__right-side--details-list-section {
    height: fit-content;
    display: block;
    width: 100%;
    padding: .25rem 0rem .5rem;
}
.cass__right-side--details-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 0rem .5rem;
}
.cass__right-side--details-list-item {
    height: 1.5rem;
    padding: .25rem 0rem;;
}

.cass__right-aside--full-item {
    width: 100%;
    padding: .5rem 0rem;
}
.cass__right-aside--half-item {
    width: 50%;
    height: 32px;
}