@import './theme.scss';
@import './../assets/fonts/webfonts/all.css';
@import './../assets/fonts/RobotoCondensed/stylesheet.css';
@import './../assets/fonts/Assistant/stylesheet.css';


p {
    font-style: normal;
}

hr  {
    width: 100%;
    display: block;
    height: 1px;
    padding-left: -1px;
    margin: 6px auto;
    border-width: 1px;
    background-color: rgba( $dark, .5);
    color: rgba( $dark, .5);
    border-color: rgba( $dark, .5);
}

// scrollable area minus top bar size
.is-scrollable{
}

// base styles for text inputs
input, textarea{
    color: rgba($dark, .7);
    font-family: $family-primary;
    font-size: .8rem;
}

label {
    font-weight: 600;
    color: rgba($dark, .5);
    width: 95%;
    font-size: .7rem;
}


.lode__Property-text{
    border-radius: .25rem;
}

.lode__Property-ul{
    border-radius: .25rem;
    padding: 0rem .25rem;
    .button {
        
    }
    .lode__description {
        font-weight: 400;
        font-size: $size-7;
    }
    .lode__name {
        font-weight: 600;
        font-size: $size-4;
    }
    
    margin: .125em .5em;
}

.page {
    margin-top: 2rem;
}
.page-framework-list,
.page-framework,
 {
    overflow-y: scroll;
    height: 95vh;
}

progress,
select {
}

iframe {
    min-height: 800px;
    border:1px solid rgba($black, .5);
}

.navigation-title__wrapper {
    display:inline-block;
    width: 70%;
    vertical-align: middle;
}
.navigation-tag__wrapper {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}



.import-details__section {
    padding: 1rem;
}
.detected-import-details {
    padding: 1rem .5rem 0rem .5rem;
    li {
        padding: .5rem 0rem;
    }
}


// fixes 
.caret-icon-overlay-fix {
    padding-left: .125rem;
}


.buttons.is-spaced {
    justify-content: space-between;
}
.modal-card-foot {
    .buttons.is-spaced {
        width: 100% !important;
    }
}
