@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800|Oswald&display=swap');

@import './variables.scss';

$section-padding-small: .125rem .125rem;
$section-padding-basic: .25rem .75rem;
$section-padding: 1rem 1rem;
$section-padding-medium: 1.5rem 1.5rem;
$section-padding-large: 3rem 1.5rem;
$section-padding-tb: .5rem 0rem;

$menu-item-color:$black;
$menu-item-hover-color: $black;

$is-size-1: 2rem;
$is-size-2: 1.8rem;
$is-size-3: 1.6rem;
$is-size-4: 1.4rem;
$is-size-5: 1.2rem;
$is-size-6: 1rem;
$is-size-7: .8rem;


$tag-radius: 1rem;
$navbar-padding-vertical: 2rem;

$box-padding: .75rem;
$menu-list-link-padding: .5em 1em;

$title-size: $size-2;
$title-weight: 500;
$subtitle-weight: 200;
$subtitle-family: $family-primary;
$subtitle-line-height: 1.75;
/* side bad menu theme*/ 
$menu-label-color: $white;
$menu-label-font-size:1em;
$menu-label-letter-spacing: 0em;
$menu-label-spacing:1em;


$button-text-hover-background-color: transparent;

$label-color: $dark;
$label-weight: 600;
$label-size: .6rem;

/* inputs 
$control-radius: ;
$control-radius-small: ;
$control-padding-vertical:;
$control-padding-horizontal:''


$help-size:;*/
// utilities
@import "./../../node_modules/bulma/sass/utilities/_all.sass";
@import "./../../node_modules/bulma/sass/base/_all.sass";
@import "./../../node_modules/bulma/sass/components/_all.sass";
@import "./../../node_modules/bulma/sass/elements/_all.sass";
@import "./../../node_modules/bulma/sass/form/_all.sass";
@import "./../../node_modules/bulma/sass/grid/_all.sass";
@import "./../../node_modules/bulma/sass/layout/_all.sass";

@include desktop {
    .pagesRight {
        padding-left: calc(360px + 1.75rem) !important;
        padding-right: 1.75rem !important;
    }
}

@include touch {
    .pagesRight {
        padding-left: 1.75rem !important;
        padding-right: 1.75rem !important;
    }
}

.tag {
    border: 1px solid $background;
}

.menu-label {
    font-family: $family-secondary;
    text-transform: none !important;
}

.has-text-secondary {
    color: $secondary !important;
}
.section.is-basic {
    padding: $section-padding-basic !important;
}
.section.is-tb {
    padding: $section-padding-tb !important;
}
.section.is-small {
    padding: $section-padding-small !important;
}
.section.is-large {
   padding: $section-padding-large !important;
}
.section.is-medium {
    padding: $section-padding-medium !important;
 }
 .has-dashed-border {
    border:2px dashed $dark !important;
    border-radius: 1rem;
    min-height: 200px;
    height: 100%;
    div {
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
        flex-direction: column;
        display: flex;
        align-content: center;
        align-items: center;
    }
 }


 .button.is-text {
     text-decoration: none;
     font-weight: medium;
 }

.label {
    font-size: $label-size;
}
