@charset 'utf-8';
@use 'variables.scss';


$section-padding-small: .125rem .125rem;
$section-padding-basic: .25rem .75rem;
$section-padding: 1rem 1rem;
$section-padding-medium: 1.5rem 1.5rem;
$section-padding-large: 3rem 1.5rem;
$section-padding-tb: .5rem 0rem;

$menu-item-color:variables.$black;
$menu-item-hover-color: variables.$black;

variables.$size-1: 2rem;
variables.$size-2: 1.75rem;
variables.$size-3: 1.5rem;
variables.$size-4: 1.25rem;
variables.$size-5: 1rem;
variables.$size-6: .85rem;
variables.$size-7: .7rem;

$tag-radius: 1rem;
$navbar-padding-vertical: 2rem;

$box-padding: .75rem;
$menu-list-link-padding: .5em 1em;

variables.$title-size: variables.$size-2;
$title-weight: 500;
variables.$subtitle-weight: 400;
variables.$title-family: variables.$family-secondary;
variables.$subtitle-family: variables.$family-primary;
$subtitle-line-height: 1.75;
/* side bad menu theme*/ 
$menu-label-color: variables.$white;
$menu-label-font-size:1em;
$menu-label-letter-spacing: 0em;
$menu-label-spacing:1em;


$button-text-hover-background-color: variables.$light;

$label-color: variables.$dark;
$label-weight: 600;
$label-size: .6rem;

/* inputs 
$control-radius: ;
$control-radius-small: ;
$control-padding-vertical:;
$control-padding-horizontal:''


$help-size:;*/
$column-gap: 6px;


$menu-item-color: variables.$white;
$menu-item-hover-color: variables.$dark;
$menu-item-hover-background-color: transparent !default;
$menu-item-active-color: variables.$primary !default;
$menu-item-active-background-color: variables.$link !default;

$menu-list-border-left: 1px solid variables.$dark !default;
$menu-list-line-height: 1.25 !default;
$menu-list-link-padding: 0.25em 0.75em !default;
$menu-nested-list-margin: 0.75em !default;
$menu-nested-list-padding-left: 0.75em !default;

$menu-label-color: variables.$light !default;
$menu-label-font-size: 0.75em !default;
$menu-label-letter-spacing: 0.1em !default;
$menu-label-spacing: 0rem !default;

$breadcrumb-item-padding-vertial: .25rem;
$breadcrumb-item-color: variables.$primary;
$breadcrumb-item-hover-color: variables.$primary;
$breadcrumb-item-active-color: variables.$primary;

$modal-card-title-size: variables.$size-2;
$modal-card-title-line-height: 1;
$modal-card-title-color: white;


/* TABLE CONFIGRATION */
$table-color: variables.$text; // text color
$table-background-color: transparent;
//$table-cell-border: transparent;
//$table-cell-border-width: default;
//$table-cell-padding: unset;
$table-cell-heading-color: default;
//$table-head-cell-border-width: ;
$table-head-cell-color: variables.$text;
//$table-foot-cell-border-width: ;

$table-head-background-color: variables.$light;
$table-body-background-color: transparent;
$table-row-hover-background-color: rgba(variables.$dark, .1);
$table-row-active-background-color: rgba(variables.$link, .2);
$table-striped-row-even-background-color: rgba(variables.$dark, .2);

$modal-content-width: 800px;
$divider-background-color: variables.$dark;

@use "../../node_modules/bulma/bulma";
@use "../../node_modules/bulma/sass/utilities";
@use "../../node_modules/bulma/sass/base";
@use "../../node_modules/bulma/sass/components";
@use "../../node_modules/bulma/sass/elements";
@use "../../node_modules/bulma/sass/form";
@use "../../node_modules/bulma/sass/grid";
@use "../../node_modules/bulma/sass/layout";

@mixin desktop {
    .pagesRight {
        padding-left: calc(360px + 1.75rem) !important;
        padding-right: 1.75rem !important;
    }
    .clear-side-bar #framework-editor-toolbar {
        width: calc(100% - 360px);
    }
    .clear-side-bar .cass--main-layout--primary-top {
        width: calc(100% - 250px);
        left: 250px;
    }
     .clear-side-bar {
        margin-left: 250px;
    }
    .clear-right-aside {
        margin-right: 360px;
    }
}

@mixin touch {
    .pagesRight {
        padding-left: 1.75rem !important;
        padding-right: 1.75rem !important;
    }
     .clear-side-bar #framework-editor-toolbar {
        width: 100%;
    }
    .clear-right-aside {
        margin-right: 0px;
    }
    .clear-side-bar {
        margin-left: 4rem;
    }
}

@mixin mobile {
    .clear-side-bar #framework-editor-toolbar {
        width: 100%;
    }
    .clear-right-aside {
        margin-right: 0px;
    }
    .clear-side-bar {
        margin-left: 4rem;
    }
}

.tag {
    border: 1px solid utilities.$background;
}

.menu .menu-list a {
    margin: 0.2rem 0;
    padding: 0;
}

.menu .menu-label {
    font-family: utilities.$family-secondary;
    text-transform: none !important;
    font-weight: bold;
    opacity: 0.5;
    // padding: 0;
    margin: 0.75em 0;
}

.has-text-secondary {
    color: variables.$secondary !important;
}
.section.is-basic {
    padding: $section-padding-basic !important;
}
.section.is-tb {
    padding: $section-padding-tb !important;
}
.section.is-small {
    padding: $section-padding-small !important;
}
.section.is-large {
   padding: layout.$section-padding-large !important;
}
.section.is-medium {
    padding: layout.$section-padding-medium !important;
 }
 .has-dashed-border {
    border:2px dashed utilities.$dark !important;
    border-radius: 1rem;
    min-height: 200px;
    height: 100%;
    div:first {
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
        flex-direction: column;
        display: flex;
        align-content: center;
        align-items: center;
    }
 }


 .button.is-text {
     text-decoration: none;
     font-weight: medium;
 }


.has-text-underlined{
   border-bottom: solid 1px rgba(utilities.$primary, .5);
}

.tag.is-medium-grey {
    background-color: variables.tint(utilities.$dark, 80%);
}
