@import './variables.scss';

.timeline {
    padding: 10px 0px;
    position: relative;
    background-color: inherit;
}

.timeline::before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: black;
    top: 30px;
    bottom: 0;
    margin-left: 3.9rem;
}

.timelineElement {
    margin-top: .25rem;
    padding: .5rem;
    min-height: 30px;
}

.timelineElement .assertionTimelineIcon {
    content: "aa";
    position: relative;
    display: block;
    float: left;
    padding: 7px;
    left: 42px;
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    border-radius: 20px;
    color: white;
    text-align: center;
    top: 0rem;
    z-index: 5;
}

.timelineElement .content {
    margin-left: 8rem;
}

.timelineElement {
    left: 0rem;
    min-height: 6rem;
}

.timelineElement img,.timelineElement svg {
    clip-path: circle(22px at center);
    margin-left: .25rem;
    margin-right: .25rem;
}

.assertion-timeline-topbar{
    height: 100%;
    width: 100%;
    line-height: 40px;
    display: inline-flex;
    justify-content: space-between;
}