
// generic variables need to update before import 
$cass-primary:#374169;
$cass-primary-up: #4B588C;
$cass-primary-down: #30385A;

$cass-secondary:#136E91;
$cass-secondary-up: #1A8FBD;
$cass-secondary-down: #116180;

$cass-error: #C23206;
$cass-success: #0835ED;
$cass-highlight: #ED823F;

$cass-black: #2b2323;
$cass-light: #c7c7c7;
$cass-lightest: #e7e7e7;

$family-primary: 'Open Sans',
'sans-serif';
$family-secondary: 'Oswald',
'sans-serif';

$black: $cass-black;
$white: #ffffff;
$light: $cass-light;
$primary: $cass-primary;
$secondary: $cass-secondary;
$link: $cass-highlight;
$info: $cass-secondary;
$success: $cass-success;
$warning: $cass-highlight;
$danger: $cass-error;

$dark:$cass-black;
$text: rgba($dark, .8);

$weight-normal: 400;
$family-code: $family-primary;
$background-white: $white;
$background-light: $light;
$background-medium: rgba($dark, .3);
$background: $white;
$text-strong: $black;
$weight-bold: 600;
$link-hover: $black;
$text-hover: $primary;
$title-size: 2.2rem !important;
$subtitle-weight: 600;
$title-color: $black;
$title-family: $family-secondary;
$subtitle-color: $black;
$subtitle-family: $family-secondary;

$size-1: 2rem;
$size-2: 1.5rem;
$size-3: 1.2rem;
$size-4: 1rem;
$size-5: .9rem;
$size-6: .85rem;
$size-7: .7rem;


$border-radius: 0;

$gap: 6px;

.has-background-lightest {
    background-color:  $cass-lightest;
}
